﻿@model AHCBL.Dto.User.OrderDto
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}
@Styles.Render("~/common/css/pages/purchase.css")
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Order_have","Order")">보유현황</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("Order_list","Order")">구매내역</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Sell_list","Order")">판매내역</a>
    </li>
</ul>

<div class="subtitle_wrap">
    <h2><span>구매내역</span></h2>
    <div class="d-flex justify-content-end" style="position:relative;top:-33px;">
        <select id="matchday" style="color: #fff;background: #e79c06;padding: 5px;border-radius: 7px; border: none;">
            <option value="0" selected>2021-01-25</option>
            <option value="1">2021-01-24</option>
            <option value="2">2021-01-23</option>
            <option value="3">2021-01-22</option>
        </select>
    </div>

    <button class="btn btn-block btn-danger" style="font-size:13pt;font-weight:bold;color:#fff;">거래내역은 3일간의 기록만 표시됩니다.</button>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        @if (Model != null && Model.tab1.Count != 0)
        {
            foreach (var item in Model.tab1)
            {
                <div class="span3 tiny ">
                    <div class="pricing-table-header-tiny">
                        <img src="@Html.DisplayFor(modelItem => item.img)">
                        <h3>@Html.DisplayFor(modelItem => item.name)</h3>
                    </div>
                    <div class="pricing-table-features">
                        <p>
                            <div class="order-table">
                                <table style="width:100%;" border="0">
                                    <tr>
                                        <td>
                                            <table style="width:100%;" border="0">
                                                <tr>
                                                    <td>
                                                        @using (Html.BeginForm("", "Order", FormMethod.Post))
                                                        {
                                                            <input type="hidden" name="token" id="token" value="@Html.DisplayFor(modelItem => item.token)" />
                                                            <input type="hidden" name="status" value="add" />
                                                            <button type="submit" style="font-size: initial;">구매<br>신청</button>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @{
                                                            var url = string.Format(
                                                                "/Order/Order_apply/?Token={0}",
                                                                @Uri.EscapeDataString(item.token.ToString()));
                                                        }
                                                        <a href="@url">@Html.DisplayFor(modelItem => item.buy)</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table style="width:100%;" border="0">
                                                <tr>
                                                    <td>
                                                        @using (Html.BeginForm("", "Order", FormMethod.Post))
                                                        {
                                                            <input type="hidden" name="token" id="token" value="@Html.DisplayFor(modelItem => item.token)" />
                                                            <input type="hidden" name="status" value="com" />
                                                            <button type="submit" style="font-size: initial;">구매<br>완료</button>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.ActionLink(item.appv.ToString(), "", new { id = 3 }) </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </p>
                    </div>
                </div>
            }
        }
    </div>
    <div class="purchase-list">
        <div class="purchase-list-title">List</div>
        @if (Model != null && Model.tab2.Count() != 0)
        {
            foreach (var item in Model.tab2)
            {
                <div class="purchase-list-inner">
                    <div class="purchase-list-contain">
                        <div class="purchase-list-contain-img">
                            <img src="@Html.DisplayFor(modelItem => item.img)" alt="상품 이미지">
                        </div>
                        <div class="purchase-list-contain-inner">
                            <h3>@Html.DisplayFor(modelItem => item.name)</h3>
                            <div class="purchase-list-caption-inner"><span style="text-align: left;">신청일</span>@Html.DisplayFor(modelItem => item.create_date)</div>
                            <div class="purchase-list-caption-inner"><span style="text-align: left;">매칭시간</span>22:00 ~ 06:00</div>
                            <div class="purchase-list-caption-inner"><span style="text-align: left;">가격</span>@Html.DisplayFor(modelItem => item.price)</div>
                            <div class="purchase-list-caption-inner">
                                @{
                                    if (item.status == 1)
                                    {
                                        <input type="button" value="신청 취소" onclick="doCancel('@Html.DisplayFor(modelItem => item.token)');" style="color:#000;">
                                    }
                                    if (item.status == 2)
                                    {
                                        <span style="width: 200px;text-align: left;">승인 대기 중/รออนุมติ</span>
                                    }
                                    if (item.status == 3)
                                    {
                                        <span style="width: 200px;text-align: left;">성공/สำเร็จ</span>
                                    }
                                }


                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script type="text/javascript">
    function doSearch(s_order) {
        location.href = "?s_order=" + s_order;
    }

    function doApply(reg_no) {
        location.href = "./order_apply.asp?reg_no=" + reg_no;
    }

    function doReport(reg_no, status) {
        location.href = "./order_report.asp?reg_no=" + reg_no + "&status=" + status;
    }

    function doCancel(reg_no) {
        if (confirm("구매 신청을 취소하시겠습니까?")) {
            $.ajax({
                type: "POST",
                url: "/Order/Cancel",
                data: "{'token':'" + reg_no + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.err == '0') {
                        alert(msg.errmsg);
                        location.reload();
                    } else {
                        alert(msg.errmsg);
                    }
                }
            });
        }
    }
</script>