﻿@model AHCBL.Dto.User.OrderDto
@{
    ViewBag.Title = "Order_have";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}
@Styles.Render("~/common/css/pages/purchase.css")
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("Order_have","Order")">구매내역</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="@Url.Action("index","Order")">구매내역</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Sell_list","Order")">판매내역</a>
    </li>
</ul>
<div class="subtitle_wrap">
    <h2><span>판매내역</span></h2>
    <div class="d-flex justify-content-end" style="position:relative;top:-33px;">
        <select id="matchday" style="color: #fff;background: #e79c06;padding: 5px;border-radius: 7px; border: none;">
            <option value="0" selected>2021-01-25</option>
            <option value="1">2021-01-24</option>
            <option value="2">2021-01-23</option>
            <option value="3">2021-01-22</option>
        </select>
    </div>
    <button class="btn btn-block btn-danger" style="font-size:13pt;font-weight:bold;color:#fff;">거래내역은 3일간의 기록만 표시됩니다.</button>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        @if (Model != null && Model.tab1.Count != 0)
        {
            foreach (var item in Model.tab1)
            {
                <div class="span3 tiny ">
                    <div class="pricing-table-header-tiny">
                        <img src="@Html.DisplayFor(modelItem => item.img)">
                        <h3>@Html.DisplayFor(modelItem => item.name)</h3>
                    </div>
                    <div class="pricing-table-signup-tiny">
                        <p>
                            <span style="font-size:24px;">@Html.DisplayFor(modelItem => item.appv)<span>개</span></span>
                        </p>
                    </div>
                </div>
            }
        }
    </div>
</div>








