﻿@model AHCBL.Dto.User.OrderDto
@{
    ViewBag.Title = "Sell_list";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}
@Styles.Render("~/common/css/pages/purchase.css")
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Order_have","Order")">보유현황</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="@Url.Action("index","Order")">구매내역</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("Sell_list","Order")">판매내역</a>
    </li>
</ul>
<div class="subtitle_wrap">
    <h2><span>판매내역</span></h2>
    <div class="d-flex justify-content-end" style="position:relative;top:-33px;">
        <select id="matchday" style="color: #fff;background: #e79c06;padding: 5px;border-radius: 7px; border: none;">
            <option value="0" selected>2021-01-25</option>
            <option value="1">2021-01-24</option>
            <option value="2">2021-01-23</option>
            <option value="3">2021-01-22</option>
        </select>
    </div>
    <button class="btn btn-block btn-danger" style="font-size:13pt;font-weight:bold;color:#fff;">거래내역은 3일간의 기록만 표시됩니다.</button>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        @if (Model != null && Model.tab1.Count != 0)
        {
            foreach (var item in Model.tab1)
            {
                <div class="span3 tiny ">
                    <div class="pricing-table-header-tiny">
                        <img src="@Html.DisplayFor(modelItem => item.img)">
                        <h3>@Html.DisplayFor(modelItem => item.name)</h3>
                    </div>
                    <div class="pricing-table-signup-tiny">
                        <p>
                            <div class="order-table">
                                <table style="width:100%;" border="0">
                                    <tr style=" display: flex; justify-content: space-around;">
                                        <td>
                                            <table style="width:100%;" border="0">
                                                <tr>
                                                    <td><a href="?s_order=APPLY" style="font-size: initial;">판매 신청</a></td>
                                                </tr>
                                                <tr style="display: flex; justify-content: center; align-items: baseline;">
                                                    <td>
                                                        @{
                                                            var url = string.Format(
                                                                "/Order/Sell_apply/?Token={0}",
                                                                @Uri.EscapeDataString(item.token.ToString()));
                                                        }
                                                        
                                                    </td>
                                                    <td>
                                                        <a href="@url">@Html.DisplayFor(modelItem => item.sale)</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>

                                        <td>
                                            <table style="width:100%;" border="0">
                                                <tr>
                                                    <td><a href="#" style="font-size: initial;">판매 완료</a></td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.complete)</td>
                                                </tr>
                                            </table>
                                        </td>

                                    </tr>
                                </table>
                            </div>

                        </p>
                    </div>
                </div>
            }
        }
    </div>
</div>







<!--   <div class="width1100">
       <div class="purchase">
           <div class="purchase-caption-inner">
               <span style="justify-content:center;font-size:16px;">꿀벌 수량 : @ViewBag.amount 개</span>
           </div>
       </div>
       @if (Model != null && Model.tab1.Count != 0)
       {
           foreach (var item in Model.tab1)
           {
               <div class="order-table">
                   <table style="width:100%;" border="0">
                       <tr>
                           <td colspan="3" style="border-bottom: solid 1px;">@Html.DisplayFor(modelItem => item.name)</td>
                       </tr>

                       <tr>
                           <td>
                               <table style="width:100%;" border="0">
                                   <tr>
                                       <td rowspan="2"><img src="@Html.DisplayFor(modelItem => item.img)" alt="상품 이미지"></td>
                                   </tr>
                               </table>
                           </td>

                           <td>
                               <table style="width:100%;" border="0">
                                   <tr>
                                       <td><a href="?s_order=APPLY" style="font-size: initial;">판매<br>신청</a></td>
                                   </tr>
                                   <tr>
                                       <td>
                                           @{
                                               var url = string.Format(
                                                   "/Order/Sell_apply/?Token={0}",
                                                   @Uri.EscapeDataString(item.token.ToString()));
                                           }
                                           <a href="@url">@Html.DisplayFor(modelItem => item.sale)</a>
                                       </td>
                                   </tr>
                               </table>
                           </td>

                           <td>
                               <table style="width:100%;" border="0">
                                   <tr>
                                       <td><a href="?s_order=MATCHING" style="font-size: initial;">판매<br>완료</a></td>
                                   </tr>
                                   <tr>
                                       <td>@Html.DisplayFor(modelItem => item.complete)</td>
                                   </tr>
                               </table>
                           </td>

                       </tr>
                   </table>
               </div>
                                                   }
                                               }
   </div>
    -->
