﻿@model IEnumerable<AHCBL.Dto.Admin.ItemListDto>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}
@Styles.Render("~/common/css/pages/purchase.css")
<div class="dashboard_wrap">

    <div class="Myinfo_box">
        <ul class="list-unstyled Myinfo_link" style="background: linear-gradient(to right, rgb(181 153 80), rgb(238 227 146)) !important;padding: 7px; border-radius: 7px;">
            <li class="user_mail on"><a href="@Url.Action("index","Product")" style="color:#000;"><span>상품</span></a>
            <li>
            <li class="user_mail"><a href="@Url.Action("Product_cart","Product")"><span class="text_white">클라우드</span></a></li>
            <li class="user_mail"><a href="@Url.Action("Product_cart","Product")"><span class="text_white">쇼핑마켓</span></a></li>
        </ul>
    </div>

    <div class="subtitle_wrap">
        <h2>
            <span>보유상품</span>
        </h2>
    </div>

    <div class="caution_alert_wrap">
        <p>
        <p class="caution_alert">판매 미매칭되면 캐릭터 금액은 자동 상향 됩니다.</p>
        </p>
        @*<div class="alert alert-secondary">업그레이드 기준 : 제우스 30만원 </div>*@
        @*<span class="caution_alert">보유기간 : 3일 20% </span>*@
        <span class="caution_alert">구매 : 금일 매칭</span>
        <span class="caution_alert">판매 : 금일 매칭</span>
        <span class="caution_alert">다음매칭 : 금일 매칭</span>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            @foreach (var item in Model)
            {   

                <div class="span3 tiny">
                    <div class="pricing-table-header-tiny">
                        <img src="@Html.DisplayFor(modelItem => item.img)" class="img_pd">
                        <h3></h3>
                    </div>
                    <div class="pricing-table-features">
                        <p>
                            <ul class="list-unstyled item_lvbtn2">
                                <li>
                                    <ul class="item_detail">
                                        <li style="text-align: center;">
                                            <span class="item_bedge color_gold" style="color:#fff; width:100%">@Html.DisplayFor(modelItem => item.name)</span>
                                        </li>
                                        <li>
                                            <span class="item_bedge" style="text-align:left;">가격(KRW) : </span>
                                            <span>￦ @Html.DisplayFor(modelItem => item.price)</span>
                                        </li>
                                        <li>
                                            <span class="item_bedge" style="text-align:left;">보유수익 :</span>
                                            <span>@Html.DisplayFor(modelItem => item.percen) %</span>
                                        </li>

                                        <li>
                                            <span class="item_bedge" style="text-align:left;">보유기간 : </span>
                                            <span>@Html.DisplayFor(modelItem => item.day) 일</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        <p class="qq" id="show_chips_b"></p>
                        @{
                            var url = string.Format(
                                "/Product/Product_order/?Token={0}",
                                @Uri.EscapeDataString(item.token.ToString()));
                        }
                        </p>
                    </div>
                    <div class="pricing-table-signup-tiny">
                        <p><a class="ResOrder" href="@url">@Html.DisplayFor(modelItem => item.name) 구매예약</a></p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


    <script>
        function doAction() {
            location.href = "./Product_order";
        }
    </script>
