﻿@model AHCBL.Dto.Admin.ItemListDto
@{
    ViewBag.Title = "Product_order";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}
@Styles.Render("~/common/css/pages/purchase.css")
@using (Html.BeginForm("SaveOrder", "Product", FormMethod.Post))
{
    @*@using (Html.BeginForm())
        {*@
    @Html.AntiForgeryToken()

    <div class="dashboard_wrap">
        <div class="Myinfo_box">
            <ul class="list-unstyled Myinfo_link" style="background: linear-gradient(to right, rgb(181 153 80), rgb(238 227 146)) !important; padding: 7px;border-radius: 7px;">
                <li class="user_mail on"><a href="@Url.Action("index","Product")" style="color:#000;"><span>상품</span></a>
                <li>
                <li class="user_mail"><a href="@Url.Action("Product_cart","Product")"><span class="text_white">클라우드</span></a></li>
                <li class="user_mail"><a href="@Url.Action("Product_cart","Product")"><span class="text_white">쇼핑마켓</span></a></li>
            </ul>
        </div>

        <div class="subtitle_wrap">
            <h2>
                <span>보유상품</span>
            </h2>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                @Html.HiddenFor(model => model.token)
                <input type="hidden" id="product_id" value="@Html.DisplayFor(model => model.id)" />
                <input type="hidden" id="price" value="@Html.DisplayFor(model => model.price)" />
                <input type="hidden" id="percen" value="@Html.DisplayFor(model => model.percen)" />
                <input type="hidden" id="product_fee" value="@Html.DisplayFor(model => model.chip)" />
                <div class="span3 tiny ">
                    <div class="pricing-table-header-tiny">
                        <img src="@Html.DisplayFor(model => model.img)">
                        <h3></h3>
                    </div>
                    <div class="pricing-table-features">
                        <p>
                            <ul class="list-unstyled item_lvbtn2">
                                <li>
                                    <ul class="item_detail">
                                        <li style="text-align:center;">
                                            <span class="item_bedge color_gold" style="width:100%;">@Html.DisplayFor(model => model.name)</span>

                                        </li>
                                        <li>
                                            <span class="item_bedge" style="text-align:left;">가격(KRW) :</span>
                                            <span>￦ @Html.DisplayFor(model => model.price)</span>
                                        </li>

                                        @*<li>
                                            <span class="item_bedge" style="text-align:left;">매칭률 : </span>
                                            <span>@Html.DisplayFor(model => model.percen)</span>
                                        </li>
                                        <li>
                                            <span class="item_bedge" style="text-align:left;">수익률 : </span>
                                            <span>@Html.DisplayFor(model => model.day)</span>
                                        </li>*@
                                        <li>
                                            <span class="item_bedge" style="text-align:left;">수량 : </span>
                                            <span>
                                                @Html.DropDownListFor(model => model.amount, new SelectList(ViewBag.amount, "Value", "Text"), new { @class = "drp" }) <span class="txt_chip">개</span>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="item_bedge" style="text-align:left;">수수료 : </span>
                                            <span id="tot_fee">@Html.DisplayFor(model => model.chip)<span class="txt_chip">개</span><span>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </p>
                    </div>
                    <div class="pricing-table-signup-tiny">
                        <p>
                            <div class="btnWrap">
                                <button class="btnOk" type="button" onclick="doAction()" id="t_btn_ok">구매신청</button>
                                <a href="/Product" class="btnCa">취소</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="d-flex" style="margin-top:10px;">
                <div class="mx-auto">
                    <input type="submit" id="btnAdd" style="display:none;" />
                </div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function () {
        var product_fee = $("#product_fee").val();
        $("#amount").change(function () {
            var amount = $(this).val();
            var user_point='@ViewBag.point';

            if (parseInt(amount) * parseInt(product_fee) > (parseInt(user_point))) {
                alert("보유한 꿀벌이 부족합니다.\n꿀벌을 확인해 주세요.");
                $(this).val("1");
            }
            setAmt();
        });
    });
    function setAmt() {
        var qty = parseInt($("#amount").val());
        var fee = parseInt($("#product_fee").val());

        $("#tot_fee").text(addCommas(qty * fee) + "개");

    }

    function doValidate() {
        var user_point ='@ViewBag.point';
        var product_fee = $("#product_fee").val();
        var amount = $("#amount").val();
        if ((parseInt(user_point)) < parseInt(product_fee) * parseInt(amount)) {
            alert("보유한 꿀벌이 부족합니다.\n꿀벌을 확인해 주세요.");
            return false;
        }

        return true;
    }

    function doAction() {
        if (doValidate()) {
            if (confirm($(".order-product-caption > h3").text() + " 상품을 구매신청 하시겠습니까?")) {
                //$("#btnOk").click();
                //$("#cmd").val("/view/order/order_process.json");
                //$("#mode").val("order_apply");
               // alert(1); return;
                $("#btnAdd").click();
                return;
                //						 $("#order_form").attr("action", "../../frame/order/orderController.asp").submit();
                var id = $("#product_id").val();
                var point = parseInt(@ViewBag.point);
                var percen = parseInt($("#percen").val());
                var amount = parseInt($("#amount").val());
                var chip = parseInt($("#product_fee").val());
                //var total = addCommas(amount * chip);
                var total = (amount * chip);
                var amt = $("#price").val();
                $.ajax({
                    type: "POST",
                    url: "/Product/SaveOrder",
                    data: "{'id':" + id + ",'point':" + point + ",'percen':" + percen + ",'amount':" + amount + ",'chip':" + chip + ",'total':" + total + ",'amt':" + amt.replace(",","") + "}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        alert(msg);
                        //location.reload();
                        location.href = "/Product";
                    }
                });

                //$.mvcAjax({
                //    url: "/Product/order",
                //    //data: $("#order_form").serialize(),
                //    data: "{'id':" + id + ",'amount':" + amount + ",'fee':'" + fee + "','total':'" + total + "'}",
                //    success: function (data) {
                //        var result = data.RESULT;
                //        if (result.CODE == 1) {
                //            alert("구매신청이 완료되었습니다.");
                //            location.href = "../product/product_list.asp";
                //        } else
                //            alert(result.MESSAGE);
                //    }
                //});

            }
        }


    }
    </script>
}
