﻿@{
    ViewBag.Title = "Product_order";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}
<div class="width1100">
    <p class="pTit" id="txt_page_title" data-aos="fade-up" data-aos-duration="2000">캐릭터 구매신청</p>
    <div class="pTable">
        <p class="myPoint">
            <span id="txt_chipbal" data-aos="fade-left" data-aos-duration="2000">보유 꿀벌</span> : <strong><span>@ViewBag.amount</span></strong><br>
        </p>
    </div>
    <div class="chBox motion bronze on" style="display:block;max-width:350px;width:100%;margin:0 auto;float:none;">
        <div class="left" data-aos="fade-in" data-aos-duration="2000" style="opacity:1;">
            <p class="coin coinBronze"><img src="../../common/image/product-1.png" class="img-product"></p>
            <p class="name" id="txt_gname1">Rose 1</p>
        </div>

        <div class="right">
            <div class="info">
                <ul>
                    <li class="tit"><span class="txt_price_kor">가격(KRW)</span></li>
                    <li class="con">￦</li>
                </ul>
                <ul>
                    <li class="tit"><span class="txt_price_kor">포인트</span></li>
                    <li class="con">%></li>
                </ul>
                <ul>
                    <li class="tit"><span class="txt_plus">수익률</span></li>
                    <li class="con">%</li>
                </ul>
                <ul>
                    <li class="tit"><span class="txt_day">보유기간</span></li>
                    <li class="con">일</li>
                </ul>
                <ul>
                    <li class="tit"><span class="txt_day">수량</span></li>
                    <li class="con">
                        @Html.DropDownListFor(model => model.level, new SelectList(ViewBag.member_no, "Value", "Text"), new { @class = "form-control bg-white border" }) 개
                    </li>
                </ul>
                <ul>
                    <li class="tit"><span class="txt_chip">수수료</span></li>
                    <li class="con">FEE<span class="txt_chip">개</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="btnWrap">
        <span class="btnOk" onclick="" id="t_btn_ok">구매신청</span>
        <span class="btnCa" onclick="" id="t_btn_cancel">취소</span>
    </div>
</div>