﻿@model AHCBL.Dto.Admin.MemberListDto
@{
    ViewBag.Title = "Member";
}
@using (Html.BeginForm("Create", "MemberList", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="xp-contentbar" style="margin-top:60px;">
        <div class="row">
            <!-- Start XP Col -->
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="card m-b-30">
                    <div class="card-header bg-white">
                        <h5 class="card-title text-black">정보 수정 / แก้ไขข้อมูล</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-body table-responsive">
                            <div style="min-width:1366px;max-width:100%; margin:auto;">
                                <h5>@ViewBag.Message</h5>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <table class="table">
                                    <tr>
                                        <th>
                                            <label>아이디</label>
                                        </th>
                                        <td width="400">
                                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control bg-white border" } })                                                
                                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                        </td>
                                        <th>
                                            <label>비밀번호</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control bg-white border", @type = "password" } })
                                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                        </td>
                                        <th>
                                            <label>이름(실명)필수</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                            @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>닉네임필수</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.nickname, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                            @Html.ValidationMessageFor(model => model.nickname, "", new { @class = "text-danger" })
                                        </td>
                                        <th>
                                            <label>회원 권한</label>
                                        </th>
                                        <td>
                                            @Html.DropDownListFor(model => model.level, new SelectList(ViewBag.member_no, "Value", "Text"), new { @class = "form-control bg-white border" })
                                            @*@Html.DropDownListFor(m => m.level, Model.Techniques, new { @class = "form-control bg-white border" })*@
                                            @*@Html.DropDownListFor(model => model.level, ViewBag.level, "-- Select Status --")*@

                                        </td>
                                        <th>
                                            <label>포인트</label>
                                        </th>
                                        <td>
                                            <label>0 점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>E-mail필수</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                        </td>
                                        <th>
                                            <label>홈페이지</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.homepage, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                            @Html.ValidationMessageFor(model => model.homepage, "", new { @class = "text-danger" })
                                        </td>
                                        <th>
                                            <label>휴대폰번호</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.telephone, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                            @Html.ValidationMessageFor(model => model.telephone, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>전화번호</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.mobile, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                            @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })
                                        </td>
                                        <td colspan="4">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>본인확인방법</label>
                                        </th>
                                        <td>
                                            @Html.RadioButtonFor(model => model.certify_case, "1") 아이핀 @Html.RadioButtonFor(model => model.certify_case, "2") 휴대폰
                                        </td>
                                        <th>
                                            <label>본인확인</label>
                                        </th>
                                        <td>
                                            @Html.RadioButtonFor(model => model.certify, "1") 예 @Html.RadioButtonFor(model => model.certify, "2", new { @checked = "checked" }) 아니오
                                        </td>
                                        <th>
                                            <label>성인인증</label>
                                        </th>
                                        <td>
                                            @Html.RadioButtonFor(model => model.adult, "1") 예 @Html.RadioButtonFor(model => model.adult, "2", new { @checked = "checked" }) 아니오
                                        </td>
                                    </tr>
                                    <tr>
                                        <th rowspan="2">
                                            <label>주소</label>
                                        </th>
                                        <td rowspan="2">
                                            <div class="input-group mb-2">
                                                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                                <div class="input-group-append">
                                                    <button class="btn btn-dribbble" type="button" onclick="GetLocation()">주소 검색</button>
                                                </div>
                                            </div>
                                            <div class="input-group mb-2">
                                                @Html.EditorFor(model => model.address1, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                                <div class="input-group-append">
                                                    <span class="input-group-text">기본주소</span>
                                                </div>
                                            </div>
                                            <div class="input-group mb-2">
                                                @Html.EditorFor(model => model.address2, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                                <div class="input-group-append">
                                                    <span class="input-group-text">상세주소</span>
                                                </div>
                                            </div>
                                            <div class="input-group mb-2">
                                                @Html.EditorFor(model => model.address3, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                                <div class="input-group-append">
                                                    <span class="input-group-text">참고항목</span>
                                                </div>
                                            </div>
                                        </td>
                                        <th>
                                            <label>회원아이콘</label>
                                        </th>
                                        <td colspan="3">
                                            <p class="font-11">이미지 크기는 넓이 @ViewBag.member_icon_width 픽셀 높이 @ViewBag.member_icon_height 픽셀로 해주세요.</p>
                                            @Html.EditorFor(model => model.icon, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>회원이미지</label>
                                        </th>
                                        <td colspan="3">
                                            <p class="font-11">이미지 크기는 넓이 @ViewBag.member_img_width 픽셀 높이 @ViewBag.member_img_height 픽셀로 해주세요.</p>
                                            @Html.EditorFor(model => model.img, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>메일 수신</label>
                                        </th>
                                        <td>
                                            @Html.RadioButtonFor(model => model.mailling, "1", new { @checked = "checked" }) 예 @Html.RadioButtonFor(model => model.mailling, "2") 아니오
                                        </td>
                                        <th>
                                            <label>SMS 수신</label>
                                        </th>
                                        <td>
                                            @Html.RadioButtonFor(model => model.sms, "1") 예 @Html.RadioButtonFor(model => model.sms, "2", new { @checked = "checked" }) 아니오
                                        </td>
                                        <th>
                                            <label>정보 공개</label>
                                        </th>
                                        <td>
                                            @Html.RadioButtonFor(model => model.open, "1", new { @checked = "checked" }) 예 @Html.RadioButtonFor(model => model.open, "2") 아니오
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>서명</label>
                                        </th>
                                        <td>
                                            @Html.TextAreaFor(model => model.signature, new { @class = "form-control bg-white border", @rows = "6" })
                                        </td>
                                        <th>
                                            <label>자기 소개</label>
                                        </th>
                                        <td>
                                            @Html.TextAreaFor(model => model.profile, new { @class = "form-control bg-white border", @rows = "6" })
                                        </td>
                                        <th>
                                            <label>메모</label>
                                        </th>
                                        <td>
                                            @Html.TextAreaFor(model => model.memo, new { @class = "form-control bg-white border", @rows = "6" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>회원가입일</label>
                                        </th>
                                        <td>
                                            <label>@Html.DisplayFor(model => model.create_date)</label>
                                        </td>
                                        <th>
                                            <label>최근접속일</label>
                                        </th>
                                        <td>
                                            <label>@Html.DisplayFor(model => model.last_date)</label>
                                        </td>
                                        <th>
                                            <label>IP</label>
                                        </th>
                                        <td>
                                            <label>@Html.DisplayFor(model => model.ip)</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>추천인</label>
                                        </th>
                                        <td>
                                            <label>없음</label>
                                        </td>
                                        <th>
                                            <label>탈퇴일자</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.leave_date, new { htmlAttributes = new { @class = "form-control bg-white border", autocomplete = "off" } })
                                            <p class="font-11 mt-2">탈퇴일을 오늘로 지정</p>
                                        </td>
                                        <th>
                                            <label>접근차단일자</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.intercept_date, new { htmlAttributes = new { @class = "form-control bg-white border", autocomplete = "off" } })
                                            <p class="font-11 mt-2">접근차단일을 오늘로 지정</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>여분 필드 1</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.txt1, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                        </td>
                                        <th>
                                            <label>여분 필드 2</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.txt2, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                        </td>
                                        <th>
                                            <label>여분 필드 3</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.txt3, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>여분 필드 4</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.txt4, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                        </td>
                                        <th>
                                            <label>여분 필드 5</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.txt5, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                        </td>
                                        <th>
                                            <label>여분 필드 6</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.txt6, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>여분 필드 7</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.txt7, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                        </td>
                                        <th>
                                            <label>여분 필드 8</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.txt8, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                        </td>
                                        <th>
                                            <label>여분 필드 9</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.txt9, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>여분 필드 10</label>
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.txt10, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                        </td>
                                        <td colspan="4">
                                        </td>
                                    </tr>
                                    <tr><td colspan="6"></td></tr>
                                </table>
                                <div class="form-group text-center">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="button" value="Back" onclick="location.href='@Url.Action("Index", "MemberList")'" class="btn btn-light" />
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        $("th").addClass("bg-secondary-rgba align-middle");
        $("#liMember").addClass("active");
        $("#meMember").addClass("active");

        $("#leave_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd'
        });
        $("#intercept_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd'
        });
    });
    function GetLocation() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if (data.userSelectedType === 'R') {
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("address3").value = extraAddr;

                } else {
                    document.getElementById("address3").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('address').value = data.zonecode;
                document.getElementById("address1").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("address2").focus();
            }
        }).open();
    }
</script>