﻿@model AHCBL.Dto.Admin.CategoryListDto
@{
    ViewBag.Title = "Category List";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="btn-fixed-top">
        <input type="button" value="Back" onclick="location.href='@Url.Action("Index", "CategoryList")'" class="btn btn-light" />
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
    <div class="xp-contentbar" style="margin-top:60px;">
        <div class="row">
            <!-- Start XP Col -->
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="card m-b-30">
                    <div class="card-header bg-white">
                        <h5 class="card-title text-black">게시판 생성</h5>
                    </div>
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                            <div class="card mb-2">
                                <div class="card-header p-1" id="heading1">
                                    <h5 class="mb-0 text-black">
                                        <button class="btn btn-link text-black collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                            <i class="icon-settings text-primary mr-1"></i>
                                            기본 설정
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample" style="">
                                    <div class="card-body table-responsive">
                                        <div style="min-width:1366px;max-width:100%; margin:auto;">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="tab-pane fade active show" id="tab1" role="tabpanel">
                                                <h6 class="text-success-gradient">필수입력</h6>
                                                <table class="table">
                                                    <tr>
                                                        <th>
                                                            <label>분류코드</label>
                                                        </th>
                                                        <td colspan="5">
                                                            <p class=" font-11">자동으로 보여지는 분류코드를 사용하시길 권해드리지만 직접 입력한 값으로도 사용할 수 있습니다.</p>
                                                            <p class=" font-11">
                                                                분류코드는 나중에 수정이 되지 않으므로 신중하게 결정하여 사용하십시오.
                                                            </p>
                                                            <p class="mt-4 font-11">
                                                                분류코드는 2자리씩 10자리를 사용하여 5단계를 표현할 수 있습니다.
                                                            </p>
                                                            <p class=" font-11">
                                                                0~z까지 입력이 가능하며 한 분류당 최대 1296가지를 표현할 수 있습니다.
                                                            </p>
                                                            <p class=" font-11">
                                                                그러므로 총 3656158440062976가지의 분류를 사용할 수 있습니다.
                                                            </p>
                                                            <div style="width:300px;">
                                                                @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <label>분류명</label>
                                                        </th>
                                                        <td>
                                                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                                        </td>
                                                        <th>
                                                            <label>그룹필수</label>
                                                        </th>
                                                        <td>
                                                            <div>
                                                                @Html.EditorFor(model => model.min_price, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                                            </div>
                                                        </td>
                                                        <th>
                                                            <label>그룹필수</label>
                                                        </th>
                                                        <td>
                                                            <div>
                                                                @Html.EditorFor(model => model.max_price, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <label>충전시간</label>
                                                        </th>
                                                        <td>
                                                            @Html.EditorFor(model => model.charging_time, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                                        </td>
                                                        <th>
                                                            <label>마블마블</label>
                                                        </th>
                                                        <td>
                                                            <div>
                                                                @Html.EditorFor(model => model.energy, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                                            </div>
                                                        </td>
                                                        <th>
                                                            <label>수익</label>
                                                        </th>
                                                        <td>
                                                            <div>
                                                                @Html.EditorFor(model => model.revenue, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <label>보유기간</label>
                                                        </th>
                                                        <td>
                                                            @Html.EditorFor(model => model.day, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                                        </td>
                                                        <th>
                                                            <label>일최대 당첨가능수</label>
                                                        </th>
                                                        <td>
                                                            <div>
                                                                @Html.EditorFor(model => model.win_count, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                                            </div>
                                                        </td>
                                                        <th>
                                                            <label>일최대 당첨가능금액</label>
                                                        </th>
                                                        <td>
                                                            <div>
                                                                @Html.EditorFor(model => model.win_max_price, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <label>순서</label>
                                                        </th>
                                                        <td colspan="5">
                                                            <p class="font-11"> 숫자가 작을 수록 상위에 출력됩니다. 음수 입력도 가능하며 입력 가능 범위는 -2147483648 부터 2147483647 까지입니다.</p>
                                                            <p class="font-11"><b>입력하지 않으면 자동으로 출력됩니다.</b></p>
                                                            <div style="width:300px;">
                                                                @Html.EditorFor(model => model.ca_order, new { htmlAttributes = new { @class = "form-control bg-white border" } })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <label>판매가능</label>
                                                        </th>
                                                        <td colspan="5">
                                                            <p class="font-11">
                                                                재고가 없거나 일시적으로 판매를 중단하시려면 체크 해제하십시오.
                                                            </p>
                                                            <p class="font-11">
                                                                체크 해제하시면 상품 출력을 하지 않으며, 주문도 받지 않습니다.
                                                            </p>
                                                            @Html.CheckBoxFor(model => model.ca_use)
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td colspan="8"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("th").addClass("bg-secondary-rgba align-middle");
        $("#liCategory").addClass("active");
        $("#meCategory").addClass("active");
    });
</script>