﻿@model AHCBL.Dto.LoginDto
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="wrap" style="background-image:url('../../common/image/bg-login.png');">
        <div id="container">
            <div class="">
                <form name="login_form" id="login_form" method="post">
                   
                </form>
            </div>
        </div>
    </div>


    <div id="wrap" style="background-image:url('../../common/image/bg-login.png');">
        <div id="container">
            <div class="login-container">
                <form name="login_form" id="login_form" method="post">
                    <div class="login-box">

                        <div class="headline"  data-aos="fade-left" data-aos-duration="2000"">
                            <img  src="../../common/image/logo.png" style="width:150px;margin-top: 130px; height:auto;">
                        </div>
                         
                        <div class="box-content" style="width:100%;">

                            <div class="login-input" data-aos="fade-up" data-aos-duration="2000">
                                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "shadow", placeholder = "ID" } })
                                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                            </div>

                            <div class="login-input" data-aos="fade-up" data-aos-duration="2000">
                                @Html.PasswordFor(model => model.password, new { @class = "shadow", placeholder = "Password", type = "password" })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                            @ViewBag.Message
                            <div id="sign" data-aos="fade-up" data-aos-duration="2000">
                                <button type="submit" class="button">로그인</button>
                                <input type="button" class="button" value="회원가입" onclick="window.location.href='/Register';" />
                            </div>

                            <div class="remember">
                                <label class="checkbox-wrap">
                                    <input type="checkbox" id="id_save" name="id_save" value="Y">&nbsp;자동로그인
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


}

<script>
    $(document).ready(function () {
        if ($.cookie("id_save") != "" && typeof $.cookie("id_save") != "undefined") {
            $("#username").val($.cookie("id_save"));
            $("input:checkbox[id='id_save']").prop("checked", true);
            $("#pwd").focus();
        }
        else
            $("#username").focus();

        $("#pwd").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#LOGIN").click();
            }
        });

        $("#LOGIN").click(function () {
            doAction();
        })

        $("#SIGNUP").click(function () {
            location.href = "../member/join.asp";
        })
    });

    function doValidate() {
        if ($.trim($("#username").val()) == "") {
            alert("아이디를 입력해 주세요.");
            $("#username").focus();
            return false;
        }

        if ($.trim($("#pwd").val()) == "") {
            alert("비밀번호를 입력해 주세요.");
            $("#pwd").focus();
            return false;
        }

        return true;
    }

    function doAction() {
        if (doValidate()) {
            //					$("#login_form").attr("action", "../../frame/member/memberController.asp").submit();
            $.mvcAjax({
                url: "../../frame/login/loginController.asp",
                data: $("#login_form").serialize(),
                success: function (data) {
                    var result = data.RESULT;
                    if (result.CODE == 1) {
                        if ($("input:checkbox[id='id_save']").is(":checked"))
                            $.cookie("id_save", $("#username").val(), { expire: 365 });
                        else
                            $.cookie("id_save", "");

                        var uri = "../main/main.asp";
                        if ($("#go_url").val() != "")
                            uri = $("#go_url").val();

                        location.href = uri;
                    } else {
                        alert("아이디 또는 비밀번호를 확인하시기 바랍니다.");
                        $("#pwd").val("").focus();
                    }
                }
            });
        }
    }
</script>