﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<AHCBL.Dto.Admin.PopupListDto>
@{
    ViewBag.Title = "Popup";
}

<div class="xp-contentbar" style="margin-top:60px;">
    <div class="row">
        <!-- Start XP Col -->
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="card m-b-30">
                <div class="card-header bg-white">
                    <div class="float-left">
                        <h5 class="card-title text-black">팝업레이어 관리</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="align-middle">
                        <span class="badge badge-primary badge-pill">전체  @ViewBag.Count 건</span>
                        <div class="float-right">
                            <button type="button" style="margin-top:-10px;" class="btn btn-rounded btn-success" onclick="location.href='@Url.Action("Create", "PopupList")'"><i class="icon-plus mr-2"></i> Insert</button>
                        </div>
                    </div>
                    <div class="table-responsive m-b-30 mt-2">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th class="align-middle" style="width:80px;">번호</th>
                                    <th class="align-middle">제목</th>
                                    <th class="align-middle" style="width:150px;">접속기기</th>
                                    <th class="align-middle" style="width:200px;">시작일시</th>
                                    <th class="align-middle" style="width:200px;">종료일시</th>
                                    <th class="align-middle" style="width:90px;">시간</th>
                                    <th class="align-middle" style="width:90px;">Left</th>
                                    <th class="align-middle" style="width:90px;">Top</th>
                                    <th class="align-middle" style="width:90px;">Width</th>
                                    <th class="align-middle" style="width:90px;">Height</th>
                                    <th class="align-middle" style="width:150px;">관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count() != 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr class="text-center">                                           
                                            <td> @Html.DisplayFor(modelItem => item.id)</td>
                                            <td class="text-left">
                                                @Html.DisplayFor(modelItem => item.name)
                                            </td>
                                            <td> @Html.DisplayFor(modelItem => item.drive_name)</td>
                                            <td> @Html.DisplayFor(modelItem => item.start_date)</td>
                                            <td> @Html.DisplayFor(modelItem => item.stop_date)</td>
                                            <td> @Html.DisplayFor(modelItem => item.disable_hours)<span>시간</span> </td>
                                            <td> @Html.DisplayFor(modelItem => item.pop_left)<span>px</span></td>
                                            <td> @Html.DisplayFor(modelItem => item.pop_top)<span>px</span></td>
                                            <td> @Html.DisplayFor(modelItem => item.pop_width)<span>px</span></td>
                                            <td> @Html.DisplayFor(modelItem => item.pop_height)<span>px</span></td>
                                            <td>
                                                <div class="justify-content-center row">
                                                    @using (Html.BeginForm("Edit", "PopupList", new { id = item.id }, FormMethod.Get))
                                                    {
                                                        <button type="submit" class="btn btn-round btn-primary" style="float: none; margin: 5px;" title="수정">
                                                            <span class="icon-note"></span>
                                                        </button>
                                                    }
                                                    <button type="button" onclick="del('@Html.DisplayFor(modelItem => item.id)');" class="btn btn-round btn-danger" style="float: none; margin: 5px;" title="삭제">
                                                        <span class="icon-trash"></span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="text-center">
                                        <td colspan="7">
                                            No Data !!
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="justify-content-center row">
                            @Html.PagedListPager(Model, Page => Url.Action("Index", "PopupList", new { Page }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End XP Col -->
    </div>
</div>
<script>
    $(function () {
        $("#liConfig").addClass("active");
        $("#mePopup").addClass("active");

     
    });
    function del(id) {
        var r = confirm("1구좌 추가생성하시겠습니까??");
        if (r == true) {
            $.ajax({
                type: "POST",
                url: "/PopupList/Delete",
                data: "{'id':'" + id + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    alert(msg);
                    location.reload();
                }
            });
        }
    }
</script>
