﻿@model AHCBL.Dto.Admin.MemberListDto
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout_regis.cshtml";
}
@Styles.Render("~/common/css/pages/order_point.css")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="topWrap">


    <div class="width1000 animated fadeInUp ani_delay05" style="margin-top:15px;">
        <p class="pTit" id="t_page_title">회원가입</p>

        <form name="join_form" id="join_form" method="post">
            <input type="hidden" name="cmd" id="cmd">
            <input type="hidden" name="id_chk" id="id_chk">
            <input type="hidden" name="sponsor_chk" id="sponsor_chk" value="Y">
            <input type="hidden" name="recomm_chk" id="recomm_chk" value="N">
            <input type="hidden" name="search_sponsor_id" id="search_sponsor_id" value="" />
            <div class="pTable">
                <div class="widthL">
                    <p class="th" id="t_userid">아이디</p>
                    <p class="td">
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "in100 motion", engnumberonly = "true" } })
                        <span class="btnCheck" id="id_check" onclick="idCheck();">CHECK</span>
                        @*<input type="text" class="in100 motion" name="username" id="username" engnumberonly="true">*@
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    <p class="result" id="id_res"></p>

                    </p>
                </div>
                <div class="widthR">
                    <p class="th" id="t_name">회원명</p>
                    <p class="td">
                        @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "in100 motion", engnumberonly = "true", korengOnly = "true", autocomplete = "new-password" } })
                        @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
                    </p>
                </div>
                <div class="widthL">
                    <p class="th" id="t_password">비밀번호</p>
                    <p class="td">
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "in100 motion", engnumberonly = "true", autocomplete = "new-password", type = "password" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </p>
                </div>

                <div class="widthR">
                    <p class="th" id="t_password">비밀번호 확인</p>
                    <p class="td"><input type="password" class="in100 motion" name="password_check" id="password_check" engnumberonly="true" autocomplete="new-password"></p>
                </div>

                <div class="widthL">
                    <p class="th" id="t_mobile_telno">휴대폰번호</p>
                    <p class="td">
                        @Html.EditorFor(model => model.mobile, new { htmlAttributes = new { @class = "in100 motion", numberOnly = "true", maxlength = "11" } })
                        @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })
                    </p>
                </div>

                <!-- <div class="widthR">
                    <p class="th" id="t_mobile_telno">E-mail</p>
                    <p class="td"><input type="text" class="in100 motion" name="email" id="email"></p>
                </div> -->

                <div class="widthR">
                    <p class="th" id="t_bank_name">은행명</p>
                    <p class="td">
                        @Html.DropDownListFor(model => model.bank_id, new SelectList(ViewBag.bank_id, "Value", "Text"), "---은행 선택---", new { @class = "in100 motion", style = "max-width:100%;" })
                        @*<select name="bank" id="bank" class="in100 motion" style="max-width:100%;">
                                <option value="">---은행 선택---</option>
                                <% For i = 0 To BankData.length - 1 %>
                                <option value="<%=BankData.Get(i).BANK_CD%>|<%=BankData.Get(i).BANK_NAME%>"><%=BankData.Get(i).BANK_NAME%></option>
                                <% Next %>
                            </select>*@

                    </p>
                </div>

                <div class="widthL">
                    <p class="th" id="t_account_number">계좌번호</p>
                    <p class="td">
                        @Html.EditorFor(model => model.acc_no, new { htmlAttributes = new { @class = "in100 motion" } })
                        @Html.ValidationMessageFor(model => model.acc_no, "", new { @class = "text-danger" })
                    </p>
                </div>

                <div class="widthR">
                    <p class="th" id="t_account_holder_name">예금주</p>
                    <p class="td">
                        @Html.EditorFor(model => model.acc_name, new { htmlAttributes = new { @class = "in100 motion" } })
                        @Html.ValidationMessageFor(model => model.acc_name, "", new { @class = "text-danger" })
                    </p>
                </div>

                <!-- <div class="widthR">
                    <p class="th" id="t_b_password">출금비밀번호</p>
                    <p class="td"><input type="password" class="in100 motion" name="bpassword" id="bpassword"></p>
                </div> -->
                <div class="widthL">
                    <p class="th" id="t_placement_id">추천아이디</p>
                    <p class="td">
                        @Html.EditorFor(model => model.adviser, new { htmlAttributes = new { @class = "in100 motion", engnumberonly = "true" } })

                        @*<input type="text" class="in100 motion" name="search_recomm_id" id="search_recomm_id" value="<%=param.search_recomm_id%>" <% If param.recomm_chk = "Y" Then %>readonly<% End If %> engnumberonly="true">
                            <% If param.recomm_chk <> "Y" Then %>*@
                        <span class="btnCheck" onclick="recommCheck();" id="pchk_btn">CHECK</span>
                        @*<% End If %>*@
                    <p class="result" id="p_memres"></p>
                    </p>
                </div>
                <div class="clearfix"></div>

            </div>
            <!--// pTable end -->

        </form>
    </div>
    <div class="btnWrap">
        <span class="btnOk" id="do" style="cursor:pointer">회원가입</span>
        <span class="btnCa" id="cancel" style="cursor:pointer">로그인</span>
        <button id="btnSave" type="submit" style="display:none;" />
    </div>
</div>


}

<script>
    $(document).ready(function () {
        $("#username").focus();
        var adv = '@ViewBag.adviser';
        if (adv != '') {
            $("#adviser").val(adv);
            $("#adviser").prop("disabled", true);
        } else {
            $("#adviser").prop("disabled", false);
        }
        $("#username").change(function () { $("#id_chk").val("N"); });
        $("#adviser").change(function () { $("#recomm_chk").val("N"); });
        $("#search_sponsor_id").change(function () { $("#sponsor_chk").val("N"); });

        $("#do").click(function () { doAction(); })

        $("#cancel").click(function () {
            location.href = "/Login";
        })

    });

    function idCheck() {
        if ($.trim($("#username").val()) == "") {
            alert("아이디를 입력해 주세요.");
            $("#username").focus();
        }
        else {
            var pUid = $("#username").val();

            $.ajax({
                type: "POST",
                url: "/Register/ChkUserID",
                data: "{'pUid':'" + pUid + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.err == '1') {
                        alert(msg.errmsg);
                        $("#id_chk").val("Y");
                    } else {
                        alert(msg.errmsg);
                        $("#username").val("");
                        $("#id_chk").val("N");
                        $("#username").focus();
                    }
                }
            });

        }
    }

    function recommCheck() {
        if ($.trim($("#adviser").val()) == "") {
            alert("추천인 아이디를 입력해 주세요.");
            $("#adviser").focus();
        }
        else {
            var pUid = $("#adviser").val();

            $.ajax({
                type: "POST",
                url: "/Register/ChkAdviser",
                data: "{'pUid':'" + pUid + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.err == '0') {
                        alert(msg.errmsg);
                        $("#recomm_chk").val("Y");
                    } else {
                        alert(msg.errmsg);
                        $("#adviser").val("");
                        $("#recomm_chk").val("N");
                    }
                }
            });

            //$("#cmd").val("/view/member/recomm_id_check.json");
            //var adviser = $("#adviser").val();
            //alert(adviser); return;
            //$.ajax({
            //    url: "/Register/ChkAdviser",
            //    data: "{'adviser':'" + adviser + "'}",
            //    success: function (msg) {
            //        if (msg.err == '0') {
            //            alert(msg.errmsg);
            //            $("#recomm_chk").val("Y");
            //        } else {
            //            alert(msg.errmsg);
            //            $("#adviser").val("");
            //            $("#recomm_chk").val("N");
            //        }
            //    }
            //});
        }
    }

    function sponsorCheck() {
        if ($.trim($("#search_sponsor_id").val()) == "") {
            alert("후원인 아이디를 입력해 주세요.");
            $("#search_sponsor_id").focus();
        }
        else {
            $("#cmd").val("/view/member/sponsor_id_check.json");

            $.mvcAjax({
                url: "../../frame/member/memberController.asp",
                data: $("#join_form").serialize(),
                success: function (data) {
                    var result = data.RESULT;
                    if (result.CODE == 1) {
                        alert("후원인이 확인되었습니다.\n회원가입을 진행해 주세요.");
                        $("#sponsor_chk").val("Y");
                    } else {
                        alert(result.MESSAGE);
                        $("#search_sponsor_id").val("");
                        $("#sponsor_chk").val("N");
                    }
                }
            });
        }
    }

    function doValidate() {
        if ($.trim($("#username").val()) == "") {
            alert("아이디를 입력해 주세요.");
            $("#username").focus();
            return false;
        }

        if ($.trim($("#id_chk").val()) != "Y") {
            alert("아이디가 확인되지 않았습니다.\n중복 확인을 진행해 주세요.");
            $("#username").focus();
            return false;
        }

        if ($.trim($("#fullname").val()) == "") {
            alert("이름을 입력해 주세요.");
            $("#fullname").focus();
            return false;
        }

        if ($.trim($("#password").val()) == "") {
            alert("비밀번호를 입력해 주세요.");
            $("#password").focus();
            return false;
        }

        if ($.trim($("#password_check").val()) == "") {
            alert("비밀번호 확인을 입력해 주세요.");
            $("#password_check").focus();
            return false;
        }

        if ($.trim($("#password").val()) != $.trim($("#password_check").val())) {
            alert("비밀번호가 일치하지 않습니다.\n비밀번호를 확인해 주세요.");
            $("#password_check").focus();
            return false;
        }

        //		if($.trim($("#mobile1").val()) == "" || $.trim($("#mobile2").val()) == "" || $.trim($("#mobile3").val()) == ""){
        //			alert("휴대폰 번호를 입력해 주세요.");
        //			$("#mobile2").focus();
        //			return false;
        //		}

        if ($.trim($("#mobile").val()) == "") {
            alert("휴대폰 번호를 입력해 주세요.");
            $("#mobile").focus();
            return false;
        }

        //				if($.trim($("#address1").val()) == ""){
        //					alert("주소를 검색해 주세요.");
        //					return false;
        //				}

        //				if($.trim($("#address2").val()) == ""){
        //					alert("상세주소를 입력해 주세요.");
        //					$("#address2").focus();
        //					return false;
        //				}


        if ($.trim($("#bank_id").val()) == "") {
            alert("은행을 선택해 주세요.");
            $("#bank_id").focus();
            return false;
        }

        if ($.trim($("#acc_no").val()) == "") {
            alert("계좌번호를 입력해 주세요.");
            $("#acc_no").focus();
            return false;
        }

        if ($.trim($("#acc_name").val()) == "") {
            alert("예금주를 입력해 주세요.");
            $("#acc_name").focus();
            return false;
        }

        //				if($.trim($("#center").val()) == ""){
        //					alert("센터를 선택해 주세요.");
        //					$("#center").focus();
        //					return false;
        //				}

        if ($.trim($("#adviser").val()) == "") {
            alert("추천인을 입력해 주세요.");
            $("#adviser").focus();
            return false;
        }

        if ($.trim($("#recomm_chk").val()) != "Y") {
            alert("추천인이 확인되지 않았습니다.\n추천인 확인을 진행해 주세요.");
            $("#adviser").focus();
            return false;
        }

        //				if($.trim($("#search_sponsor_id").val()) == ""){
        //					alert("후원인을 입력해 주세요.");
        //					$("#search_sponsor_id").focus();
        //					return false;
        //				}
        //
        //				if($.trim($("#sponsor_chk").val()) != "Y"){
        //					alert("후원인이 확인되지 않았습니다.\n후원인 확인을 진행해 주세요.");
        //					$("#search_sponsor_id").focus();
        //					return false;
        //				}

        return true;
    }


    function doAction() {
        if (doValidate()) {
            $("#btnSave").click();
            //$.mvcAjax({
            //    url: "../../frame/member/memberController.asp",
            //    data: $("#join_form").serialize(),
            //    success: function (data) {
            //        var result = data.RESULT;
            //        if (result.CODE == 1) {
            //            alert("가입이 완료되었습니다.");
            //            location.href = "/Login";
            //        } else {
            //            alert(result.MESSAGE);
            //        }
            //    }
            //});
        }
    }


    function getPostCode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullAddr = ''; // 최종 주소 변수
                var extraAddr = ''; // 조합형 주소 변수

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    fullAddr = data.roadAddress;

                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    fullAddr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                if (data.userSelectedType === 'R') {
                    //법정동명이 있을 경우 추가한다.
                    if (data.bname !== '') {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있을 경우 추가한다.
                    if (data.buildingName !== '') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                    fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                //document.getElementById("sample6_postcode1").value = data.postcode1;
                //document.getElementById("sample6_postcode2").value = data.postcode2;
                //document.getElementById("sample6_address").value = fullAddr;

                // 커서를 상세주소 필드로 이동한다.
                //document.getElementById("sample6_address2").focus();

                var postArr = new Array();
                postArr.push(data.zonecode);
                postArr.push(data.postcode1);
                postArr.push(data.postcode2);
                postArr.push(fullAddr);

                setPostCode(postArr);
            }
        }).open();
    }

    function setPostCode(postArr) {
        var zone_code = postArr[0];
        var post_cd1 = postArr[1];
        var post_cd2 = postArr[2];
        var full_addr = postArr[3];

        $("#zipcode").val(zone_code);
        $("#address1").val(full_addr);
        $("#address2").val('');
        $("#address2").focus();
    }
</script>