﻿@model AHCBL.Dto.Admin.ContentListDto
@{
    ViewBag.Title = "Content List";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}
<div class="xp-contentbar" style="margin-top:60px;">
    <div class="row">
        <!-- Start XP Col -->
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="card m-b-30">
                <div class="card-body">
                    @Html.Raw(@Model.contents.ToString())
                </div>
            </div>
        </div>
    </div>
</div>



