﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<AHCBL.Dto.Admin.ContentListDto>
@{
    ViewBag.Title = "Content List";
}
<div class="xp-contentbar" style="margin-top:60px;">
    <div class="row">
        <!-- Start XP Col -->
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="card m-b-30">
                <div class="card-header bg-white">
                    <div class="float-left">
                        <h5 class="card-title text-black">내용관리</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="align-middle">
                        <span class="badge badge-primary badge-pill">전체 @ViewBag.Count 건</span>
                        <div class="float-right">
                            <button type="button" style="margin-top:-10px;" class="btn btn-rounded btn-success" onclick="location.href='@Url.Action("Create", "ContentList")'"><i class="icon-plus mr-2"></i> Insert</button>
                        </div>
                    </div>
                    <div class="table-responsive m-b-30 mt-2">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th style="width:300px;" class="align-middle">ID</th>
                                    <th class="align-middle">제목</th>
                                    <th style="width:160px;" class="align-middle">관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count() != 0)
                                {
                                    foreach (var item in Model)
                                    {
                                <tr class="text-center">
                                    <td scope="col" class="align-middle"> @Html.DisplayFor(modelItem => item.code)</td>
                                    <td scope="col" class="align-middle text-left"> @Html.DisplayFor(modelItem => item.name)</td>
                                    <td scope="col" class="align-middle">
                                        <div class="justify-content-center row">
                                            @using (Html.BeginForm("Edit", "ContentList", new { id = item.id }, FormMethod.Get))
                                            {
                                                <button type="submit" class="btn btn-round btn-primary" style="float: none; margin: 5px;" title="삭제">
                                                    <span class="icon-note"></span>
                                                </button>
                                            }
                                        <button type="button" onclick="window.open('@Url.Action("Details", "ContentList", new { id = item.id })')" style=" margin: 5px;" class="btn btn-round btn-warning" title="보기"><span class="icon-screen-desktop"></span></button>
                         

                                    @using (Html.BeginForm("Delete", "ContentList", new { id = item.id }, FormMethod.Post))
                                    {
                                        <button type="submit" class="btn btn-round btn-danger" style=" margin: 5px;" title="삭제">
                                            <span class="icon-trash"></span>
                                        </button>
                                    }
</div>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="text-center">
                                        <td colspan="3">
                                            No Data !!
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="justify-content-center row">
                        @Html.PagedListPager(Model, Page => Url.Action("Index", "ContentList", new { Page }))
                    </div>
                </div>
            </div>
        </div>
        <!-- End XP Col -->
    </div>
</div>

<script>
    $("#liBoard").addClass("active");
    $("#meContent").addClass("active");
</script>


