﻿@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}
<link href="~/Content/custom.css" rel="stylesheet" />
<div class="dashboard_wrap">
    <!-- page_box1 -->
    <article class="ds_top_left" style="display:flex; flex-direction:column;">
        <div class="flex">
            <a class="btn color_platinum" href="#" style="font-weight:bold;font-size:15pt;">코인신청</a>
            <span class="user_lv lv4 float-right">
                <div>
                    <img src="../../common/image/icon1.png" style="width:50px;">X 180
                    <button id="" data-target='.exchange_heart' data-toggle="modal" class="btn_buy">교환</button>
                </div>
                <select id="mytrading_money" class="form-control float-right" style="width:100px;">
                    <option value="30000000">3,000 만원</option>

                    <option value="29000000">2,900 만원</option>

                    <option value="28000000">2,800 만원</option>

                    <option value="27000000">2,700 만원</option>

                    <option value="26000000">2,600 만원</option>

                    <option value="25000000">2,500 만원</option>

                    <option value="24000000">2,400 만원</option>

                    <option value="23000000">2,300 만원</option>

                    <option value="22000000">2,200 만원</option>

                    <option value="21000000">2,100 만원</option>

                    <option value="20000000">2,000 만원</option>

                    <option value="19000000">1,900 만원</option>

                    <option value="18000000">1,800 만원</option>

                    <option value="17000000">1,700 만원</option>

                    <option value="16000000">1,600 만원</option>

                    <option value="15000000">1,500 만원</option>

                    <option value="14000000">1,400 만원</option>

                    <option value="13000000">1,300 만원</option>

                    <option value="12000000">1,200 만원</option>

                    <option value="11000000">1,100 만원</option>

                    <option value="10000000">1,000 만원</option>

                    <option value="9000000">900 만원</option>

                    <option value="8800000">880 만원</option>

                    <option value="8600000">860 만원</option>

                    <option value="8400000">840 만원</option>

                    <option value="8200000">820 만원</option>

                    <option value="8000000">800 만원</option>

                    <option value="7800000">780 만원</option>

                    <option value="7600000">760 만원</option>

                    <option value="7400000">740 만원</option>

                    <option value="7200000">720 만원</option>

                    <option value="7000000">700 만원</option>

                    <option value="6800000">680 만원</option>

                    <option value="6600000">660 만원</option>

                    <option value="6400000">640 만원</option>

                    <option value="6200000">620 만원</option>

                    <option value="6000000">600 만원</option>

                    <option value="5800000">580 만원</option>

                    <option value="5600000">560 만원</option>

                    <option value="5400000">540 만원</option>

                    <option value="5200000">520 만원</option>

                    <option value="5000000">500 만원</option>

                    <option value="4800000">480 만원</option>

                    <option value="4600000">460 만원</option>

                    <option value="4400000">440 만원</option>

                    <option value="4200000">420 만원</option>

                    <option value="4000000">400 만원</option>

                    <option value="3850000">385 만원</option>

                    <option value="3700000">370 만원</option>

                    <option value="3550000">355 만원</option>

                    <option value="3400000">340 만원</option>

                    <option value="3250000">325 만원</option>

                    <option value="3100000">310 만원</option>

                    <option value="2950000">295 만원</option>

                    <option value="2800000">280 만원</option>

                    <option value="2650000">265 만원</option>

                    <option value="2500000">250 만원</option>

                    <option value="2350000">235 만원</option>

                    <option value="2200000">220 만원</option>

                    <option value="2050000">205 만원</option>

                    <option value="1900000">190 만원</option>

                    <option value="1750000">175 만원</option>

                    <option value="1600000">160 만원</option>

                    <option value="1450000">145 만원</option>

                    <option value="1300000">130 만원</option>

                    <option value="1150000">115 만원</option>

                    <option value="1000000">100 만원</option>

                    <option value="900000">90 만원</option>

                    <option value="800000" selected>80 만원</option>

                    <option value="700000">70 만원</option>
                </select>
            </span>
            <div class="trading_wrap">
                <div class="trading_money">
                    <div class="float-left">포인트 가용 금액</div>
                </div>
                <ul class="list-unstyled trading_btn_group1">
                    <li><a href="@Url.Action("Order_list_point","Order")" class="btn btn-block color_platinum">골드 : @ViewBag.amount</a></li>
                    <li><a href="@Url.Action("Order_buy_point","Order")" class="btn btn-block color_platinum">골드 신청</a></li>
                </ul>
                <ul class="list-unstyled trading_btn_group1">
                    <li><a href="@Url.Action("Order_withdraw_point","Order")" class="btn btn-block color_platinum">골드 출금</a></li>
                    <li><a href="@Url.Action("Order_send_point","Order")" class="btn btn-block color_platinum">골드 전송</a></li>
                </ul>
            </div>
        </div>
        <div class="flex">
            <a class="btn color_platinum" href="@Url.Action("Index","Order")" style="font-weight:bold;font-size:15pt;">보유현황</a>
            <div class="d-flex float-right" style="padding-top:0.6rem;">
                <span style="width:100%; text-align:center;">                   
                    <a href="/Order/Order_have" style="font-weight: bold;color:#000;font-size: 22px;">구매 ( @Html.Raw(ViewBag.PM.buy)개)</a>
                    <a href="" style="font-weight: bold;color:#d8c200;font-size: 22px;">판매 ( @Html.Raw(ViewBag.PM.sale)개)</a>
                </span>
            </div>
            <div class="matching_Wrap_tit">
                <span class="float-left">판매금액</span>
                <span class="matchingid_tit">매칭ID</span>
            </div>
            <ul class="list-unstyled matching_Wrap"></ul>
        </div>
        <div class="flex">
            <a href="@Url.Action("Index","Transaction")" class="btn color_platinum" style="font-weight:bold;font-size:15pt;">거래 내역</a>
            <div class="table-responsive scroll100">
                <table class="transaction_his_tb">
                    <thead>
                        <tr>
                            <th>일시</th>
                            <th>내용</th>
                            <th class="text-center">분류</th>
                            <th class="text-right">수량</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int cnt = ViewBag.cnt;
                            if (cnt != 0)
                            {
                                foreach (var item in ViewBag.his_tb)
                                {
                                    <tr>
                                        <td class="tbody_td1">@Html.Raw(item.create_date)</td>
                                        <td class="tbody_td2">@Html.Raw(item.status)</td>
                                        <td class="tbody_td2" style="text-align: center;">@Html.Raw(item.his_name)</td>
                                        <td class="tbody_td4 ">
                                            @{
                                                string chk= item.amount.Substring(0, 1);
                                                if (chk == "-")
                                                {
                                                <span style="color: #FF5722;">@Html.Raw(item.amount)</span>
                                                }
                                                else
                                                {
                                                <span style="color: #1a8c1f;">@Html.Raw(item.amount)</span>
                                                }
                                            }

                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </article>

    <!-- page_box2 -->
    <article class="ds_top_center" style='z-index:16'>
        <div class="flex">
            <a class="btn color_platinum" href="@Url.Action("Index","Product")" style="font-weight:bold;font-size:15pt;">매칭예약</a>
            <div class="box_content1">
                <div class="w3-content w3-display-container">

                    <div class="mySlides">
                        <img src="../../common/image/product-1.png" style="width:100%">
                        <ul class="list-unstyled item_lvbtn">
                            <li><button id="pd_on1" class="btn btn-block color_gold">미녀와야수 : 1</button></li>
                        </ul>
                    </div>
                    <div class="mySlides">
                        <img src="../../common/image/product-2.png" style="width:100%">
                        <ul class="list-unstyled item_lvbtn">
                            <li><button id="pd_on1" class="btn btn-block color_gold">신데렐라 : 2</button></li>
                        </ul>
                    </div>
                    <div class="mySlides">
                        <img src="../../common/image/product-1.png" style="width:100%">
                        <ul class="list-unstyled item_lvbtn">
                            <li><button id="pd_on1" class="btn btn-block color_gold">오로라 : 3</button></li>
                        </ul>
                    </div>
                    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                </div>

            </div>

        </div>
        <div class="flex">
            <a href="@Url.Action("Index","Notice")" class="btn color_platinum" style="font-weight:bold;font-size:15pt;">매칭 메세지</a>
            <div class="matching_msg_Wrap ">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <ul class="list-unstyled matching_msg_list" style="margin-top:15px;">
                            @*<li><a href=""><span class="status s1">송금완료</span><span class="float-right">2021-01-19</span></a></li>
                            <li><a href=""><span class="status s1">송금완료</span><span class="float-right">2021-01-19</span></a></li>
                            <li><a href=""><span class="status s1">송금완료</span><span class="float-right">2021-01-19</span></a></li>
                            <li><a href=""><span class="status s1">송금완료</span><span class="float-right">2021-01-19</span></a></li>*@
                            @{int cntNotice = ViewBag.cntNotice;
                                if (cntNotice != 0)
                                {
                                    foreach (var item in ViewBag.dataNotice)
                                    {
                                       <li><a href="@Url.Action("Notice_detail","Notice" , new { id = item.id })">
                                           <span class="status s1">@Html.Raw(item.name)</span>
                                           <span class="float-right">@Html.Raw(item.create_date)</span></a>
                                       </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                    @*<div class="tab-pane">
                        <ul class="list-unstyled matching_msg_list" style="margin-top:15px;">
                            <li><a href=""><span class="status s1">송금완료</span><span class="float-right">2021-01-19</span></a></li>
                            <li><a href=""><span class="status s1">송금완료</span><span class="float-right">2021-01-19</span></a></li>
                            <li><a href=""><span class="status s1">송금완료</span><span class="float-right">2021-01-19</span></a></li>
                            <li><a href=""><span class="status s1">송금완료</span><span class="float-right">2021-01-18</span></a></li>
                        </ul>
                    </div>*@
                </div>
            </div>
        </div>
    </article>

    <!-- page_box3 -->
    <article class="ds_top_right" style="display:flex; flex-direction:column;">
        <div class="flex">
            <button class="btn color_platinum" style="font-weight:bold;font-size:15pt;">매칭 스케쥴</button>
            <div class="schedule_Wrap">
            </div>
            <p class="schedule_time">다음 매칭 <span id="lefttime"></span></p>
        </div>
        <div class="flex">
            <div class="product_on">
                <img style="width: 225px;" src="../../common/image/icon2-01.png" />
            </div>
        </div>
        <div class="flex">
            <div class="product_on">
                <img style="width: 225px;" src="../../common/image/icon3-01.png" />
            </div>
        </div>
        <div class="flex">
            <div class="product_on">
                <img style="width: 225px;" src="../../common/image/icon4-01.png" />
            </div>
        </div>
    </article>

    <!--Modal-->
    <div id="modalShowChange" class="modal" style="background: none;border: none !important;-webkit-box-shadow: none;">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../../common/image/warning.png" style="width:120px;">
            <p style="color:red; text-align:center;font-size: 19px;">포인트를 10개를 10개의 룸코인으로 교환하시겠습니까?  (룸코인 104보유)</p>
            <div class="alert_bottom">
                <a href="#" class="btn color_division submit_exchange_heart">예<br />(YES)</a>
                <a href="javascript:void closeExchangeHeart()" class="btn color_green">아니오<br />(NO)</a>
            </div>
        </div>
    </div>
    <!--End Modal-->

    <div class="clearfix"></div>
</div>
<script>
    function doAction() {
        location.href = "./Product/Product_order";
    }

    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }



    (function () {
        var start = new Date;
        start.setHours(24, 0, 0); // 11pm

        function pad(num) {
            return ("0" + parseInt(num)).substr(-2);
        }

        function tick() {
            var now = new Date;
            if (now > start) { // too late, go to tomorrow
                start.setDate(start.getDate() + 1);
            }
            var remain = ((start - now) / 1000);
            var hh = pad((remain / 60 / 60) % 60);
            var mm = pad((remain / 60) % 60);
            var ss = pad(remain % 60);
            document.getElementById('lefttime').innerHTML =
                hh + ":" + mm + ":" + ss;
            setTimeout(tick, 1000);
        }

        document.addEventListener('DOMContentLoaded', tick);
    })();


    // Get the modal
    var modal = document.getElementById("modalShowChange");
    var btn = document.getElementById("slotExhange");
    var span = document.getElementsByClassName("close")[0];

    /*
    btn.onclick = function () {
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    */
    $(document).ready(function () {
        $(function () {
            $('.his_tb_amount').each(function (index, item) {
                //console.log("tbody_td4 " + parseFloat($(item).html()));
                if (parseFloat($(item).html()) < 0) {
                    console.log("ssss " + parseFloat($(item).html()));
                    $('.his_tb_amount').addClass('text-red');
                    $('.his_tb_amount').removeClass('text-red');
                } else {
                    $('.his_tb_amount').removeClass('text-red');
                    $('.his_tb_amount').addClass('text-green');
                }
            });
        });
    });
</script>


