﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<AHCBL.Dto.Admin.ContentListDto>

@{
    ViewBag.Title = "Notice_list";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}
@Styles.Render("~/common/css/pages/sale.css")
<div class="dashboard_wrap"> 
    <div class="notice-tab">
        <ul class="list-unstyled Myinfo_link">
            <li class="tab-notice"><a href="@Url.Action("Index","Notice")">공지사항</a></li>
            <li class="tab-notice"><a href="@Url.Action("qna","Notice")">1:1문의</a></li>
        </ul>
    </div>
    <div class="row item_list">
        @if (Model != null && Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <div class="col-lg-12">
                    <div class="notice_conbox">
                        <a href="@Url.Action("Notice_detail","Notice" , new { id = item.id })">
                            <p class="notice-list">
                                <span class="notice_bedge">@Html.DisplayFor(modelItem => item.id)</span>
                                <span>@Html.DisplayFor(modelItem  => item.name)</span>
                                <span class="notice_date">@Html.DisplayFor(modelItem => item.create_date)</span>
                            </p>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>





