﻿@model AHCBL.Dto.Admin.ContentListDto
@{
    ViewBag.Title = "Notice Detail";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}
@using (Html.BeginForm("", "Notice"))
{
    @Html.AntiForgeryToken()
    @Styles.Render("~/common/css/pages/sale.css")
    <div class="subtitle_wrap">
        <h2><span>공지사항</span></h2>
    </div>
    <div class="msg_talkbox">
        <div class="top_notice">
            <h4>제목 : @Html.DisplayFor(model => model.name)</h4>
            <p>@Html.DisplayFor(model => model.create_date)</p>
            <p>
                @Html.Raw(Model.contents)
            </p>
        </div>
    </div>

    <div class="notice_footer">
        <button class="btn btn_footer" type="submit">목록</button>
    </div>
}