﻿@model AHCBL.Dto.User.NoticeDto
@{
    ViewBag.Title = "qna_detail";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

@Styles.Render("~/common/css/pages/qna_detail.css")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="subtitle_wrap">
        <h2><span>1:1 문의</span></h2>
    </div>
    <div class="msg_talkbox">
        <div class="top_notice">
            <h4>@Html.DisplayFor(model => model.name)</h4>
            <p>@Html.DisplayFor(model => model.status)</p>
            <p >
                @{
                    if (ViewBag.comment != "")
                    {
                        @Html.DisplayFor(model => model.comment)
                    }
                }
            </p>
        </div>

        <div class="middle_talk">
            <div class="talk_guest text-right">
                <div class="msg_input">
                    <a class="btn_write" href="@Url.Action("qna_write","Notice")">문의하기</a>
                </div>
            </div>
        </div>
    </div>

    <div class="notice_footer">
        <a href="@Url.Action("qna","Notice")" class="btn btn_footer">목 록</a>
    </div>
}
