﻿<!DOCTYPE html>
<html lang=ko>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--#include file="../common/header.asp"-->
    <title>@ViewBag.Title - 장미나라</title>
    <link rel="icon" href="../../common/image/logo.ico" type="image/gif" sizes="16x16">
    @Styles.Render("~/common/css/reset.min.css")
    @Styles.Render("~/common/css/pages/gnb.css")
    @Styles.Render("~/common/css/pages/footer.css")
    @Styles.Render("~/common/css/main.css")

    @Styles.Render("~/common/css/reset-1.css")
    @Styles.Render("~/common/css/pages/style.css")


    @Scripts.Render("~/common/js/jquery-3.4.1.min.js")
    @Scripts.Render("~/common/js/jquery.custom.extend.js")
    @Scripts.Render("~/common/js/commonutil.js")
    @Scripts.Render("~/common/js/jquery.cookie.js")
    @Scripts.Render("~/common/js/clipboard.min.js")

    <link rel="stylesheet" href="/common/css/pages/login.css?ver1">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body style="background-image:url('../../common/image/bg-login.png')">

    @RenderBody()
    @Scripts.Render("~/common/js/Chart.min.js")
    @Scripts.Render("~/common/js/all.js")
    @Scripts.Render("~/common/js/jquery.custom.extend.js")
    @Scripts.Render("~/common/js/commonutil.js")
    @Scripts.Render("~/common/js/jquery.cookie.js")
    @Scripts.Render("~/common/js/clipboard.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>