﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BrandName</title>
    <link rel="icon" href="../../common/image/logo.ico" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    @Styles.Render("~/common/css/pages/app.css")
    @Styles.Render("~/common/css/pages/footer.css")
    @Styles.Render("~/common/css/pages/main.css")
    @Styles.Render("~/common/css/pages/login.css")
    @Styles.Render("~/common/css/pages/order_point.css")

    @Scripts.Render("~/common/js/jquery-3.4.1.min.js")
</head>
<body class="dark">
    <div class="main">
        <section class="User_info_box">
            <div class="Myinfo_box">
                <ul class="list-unstyled Myinfo_link">
                    <li class="user_id">
                    <li class="user_mail"><a href="@Url.Action("Index","Main")" class=""><i class="fa fa-home"></i><span>홈</span></a></li>
                    <li class="user_mail"><a href="@Url.Action("Index","Member")"><i class="fa fa-male"></i><span>test1</span></a></li>
                    <li class="user_mail"><a href="@Url.Action("Index","Notice")"><i class="icon-bell"></i><span>공지</span></a></li>
                    <li class="user_mail"><a class="copy" style="cursor: pointer;"><i class="icon-comment"></i><span>추천링크</span></a></li>
                    <li class="user_mail"><a href="/Login/LogOut"><i class="icon-off"></i><span>로그아웃</span></a></li>
                </ul>
            </div>
        </section>
        <section class="middle">
            <div class="content_wrap">
                <div id="google_translate_element"></div>

                @RenderBody()
            </div>
            <input type="text" value="@Session["Register"]" class="urlJoin" style="position:absolute;left:-1000px;top:-1000px;" />
        </section>
        <!--#include file="../common/footer.asp"-->
    </div>
    <!-- End of Main Content -->
    <!--JS Main-->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'ko' }, 'google_translate_element');
        }
        //Copy Link To Friend
        document.querySelector(".copy").addEventListener("click", copyText);
        function copyText() {
            var copyText = document.querySelector(".urlJoin");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
            alert("복사 된 텍스트 : " + copyText.value);
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    @Scripts.Render("~/common/js/Chart.min.js")
    @Scripts.Render("~/common/js/all.js")
    @Scripts.Render("~/common/js/jquery.custom.extend.js")
    @Scripts.Render("~/common/js/commonutil.js")
    @Scripts.Render("~/common/js/jquery.cookie.js")
    @Scripts.Render("~/common/js/clipboard.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
