body, html {
	height: 100%;
}

#wrap {
	width: 100%;
	height: 100%;
	/* background-color: #fff; */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	margin: 0 auto;
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 25px;
}

#login_form {
	margin-top: -10px;
	width: 100%;
}

.login-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.headline {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	height: auto;
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: bold;
	color: #104958;
}

.logo-inner {
}

.headline-inner {
	/* background: rgba(0,0,0,0.3); */
	border-radius: 10px;
	width: 100%;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 5px black;
}

.headline > span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

	.headline > span > img {
		width: 80%;
		height: auto;
	}

.login-box {
	width: 100%;
}

.login-input {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
}

	.login-input > input {
	}



.remember {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	margin-top: 5px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-weight: 800;
}

.checkbox-wrap {
	display: flex;
	align-items: center;
	cursor: pointer;
}

#sign {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

body, html {
	height: 100%;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	margin: 0 auto;
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 25px;
}

#login_form {
	margin-top: -10px;
	width: 100%;
}

.login-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.headline {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	height: auto;
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: bold;
	color: #104958;
}

.logo-inner {
	height: auto;
	width: 210px;
}

.headline-inner {
	/* background: rgba(0,0,0,0.3); */
	border-radius: 10px;
	width: 100%;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 5px black;
}

.headline >
span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

	.headline >
	span > img {
		width: 80%;
		height: auto;
	}

.login-box {
	width: 100%;
}

.login-input {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 10px;
	font-size: 14px;
	align-items: center;
	font-weight: bold;
	justify-content: center;
}

	.login-input >
	input {
		width: 260px;
		height: 50px;
		padding: 0 10px;
		border-radius: 25px;
		color: #000000;
		background: rgb(255 255 255 / 70%);
		font-size: 13px;
		border: 3px solid #eef6fd;
	}



.remember {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	margin-top: 5px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-weight: 800;
}

.checkbox-wrap {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: #fff;
	font-size: 22px;
}

#sign {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.button {
	width: 260px;
	height: 50px;
	margin-top: 15px;
	padding: 0 10px;
	font-weight: bold;
	color: #ffffff;
	border-radius: 25px;
	/* 	background-image:url('../../image/btn.png'); background-size: contain; */
	background: #eaca64;
	border: none;
	transition:0.5s;
	cursor:pointer;
}
.button:hover{
	opacity:0.7!important;
}

#do {
	color: #fff;
}

#cancel {
	color: #fff;
}


.advertise {
	top: 70%;
	left: 0;
	position: absolute;
	height: 65px;
	width: 100%;
	background: rgb(0,0,0,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

.not-sign {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin: 10px;
}

.text-sign {
	background: none;
	border: none;
	color: #fff;
}
