﻿@charset "utf-8";

body {
	margin: 0;
	width: 100%;
	/* background: #0f0f1b; */
	font-family: 'notokr';
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
}

a:hover {
	text-decoration: none;
}
/* 헤더 */
header.top {
	z-index: 20;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #262631;
}

	header.top .header_wrap {
		z-index: 10;
		position: relative;
		display: block;
		width: 1440px;
		margin: 0 auto;
		text-align: center;
	}
/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	header.top .header_wrap {
		width: 100%;
	}
}


/* TOP 로고 */
header.top .header_wrap a.header_logo {
	z-index: 100;
	;
	position: absolute;
	left: 0;
	top: 25px;
	display: inline-block;
	width: 140px;
	height: 36px;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	background: url('../images/logo.png') left center no-repeat;
}

/* 모바일 340px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	header.top .header_wrap a.header_logo {
		left: 15px;
		top: 5px;
		width: 185px;
		background-size: contain;
	}
}

/* TOP 제목 */
header.top .header_wrap h1 {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 35px 15px;
	font-size: 15px;
	font-weight: 600;
}


/* 모바일 340px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	header.top .header_wrap h1 {
		display: block;
		padding: 50px 15px 15px 15px;
	}
}

/* TOP 오른쪽 유틸 */
header.top .header_wrap .util_right {
	z-index: 12;
	position: absolute;
	right: 0;
	top: 25px;
	display: inline-block;
	width: 200px;
	height: 26px;
	font-size: 0;
	text-align: right;
}
/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	header.top .header_wrap .util_right {
		right: 15px;
		top: 5px;
	}
}

header.top .header_wrap .util_right li {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 26px;
	margin-left: 5px;
}

	header.top .header_wrap .util_right li .ico_message {
		display: block;
		width: 100%;
		height: 100%;
		background: url('../images/ico_message.png') center center no-repeat;
	}

	header.top .header_wrap .util_right li .ico_alert {
		display: block;
		width: 100%;
		height: 100%;
		background: url('../images/ico_alert.png') center center no-repeat;
	}

	header.top .header_wrap .util_right li .ico_alert2 {
		display: block;
		width: 100%;
		height: 100%;
		background: url('../images/ico_letter.png') center center no-repeat;
	}

	header.top .header_wrap .util_right li .ico_notice {
		display: block;
		width: 100%;
		height: 100%;
		background: url('../images/ico_notice.png') center center no-repeat;
	}

	header.top .header_wrap .util_right li .ico_logout {
		display: block;
		width: 100%;
		height: 100%;
		background: url('../images/ico_logout.png') center center no-repeat;
	}

/* 공지사항 버블 */
.alert_bubble {
	position: absolute;
	right: -6px;
	top: -13px;
	width: 18px;
	height: 16px;
	background: #e74c3c;
	border-radius: 20px;
	text-align: center;
	font-weight: 400;
	font-size: 11px;
	color: #fff;
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.alert_bubble {
		position: absolute;
		right: -6px;
		top: inherit;
		bottom: -8px;
	}
}



/* 헤더 팝업 */
.push_popup {
	display: none;
	z-index: 20;
	position: absolute;
	left: 172px;
	right: inherit;
	;
	top: 180px;
	width: 450px;
	padding: 20px 35px;
	background: #fff;
	border-radius: 10px;
	color: #0f0f1b;
	font-size: 16px;
	text-align: left;
	box-shadow: 0px 0px 30px #03030b
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.push_popup {
		left: 15px;
		top: 120px;
		width: calc(100% - 30px);
		padding: 20px 15px;
	}
}

.push_popup::after {
	z-index: -1;
	content: " ";
	position: absolute;
	top: -12px;
	/*right:28px;*/
	height: 0;
	border-bottom: 12px solid;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	color: #fff;
}

.push_popup header {
	position: relative;
}

	.push_popup header h2 {
		padding-bottom: 12px;
		font-size: 20px;
		font-weight: 700;
		border-bottom: 1px solid #0f0f1b;
	}

	.push_popup header .btn_close {
		position: absolute;
		right: 0;
		top: 0px;
		width: 26px;
		height: 26px;
		text-align: left;
		text-indent: -8888px;
		background: url('../images/notice_popup_close.gif') center center no-repeat;
	}

.push_list_wrap {
	position: relative;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

	.push_list_wrap > div {
		border-bottom: 1px solid #c3c3d2;
	}

		.push_list_wrap > div:last-child {
			border-bottom: none;
		}

.notice_popup {
	display: none;
	z-index: 20;
	position: absolute;
	left: inherit;
	right: 237px;
	top: 70px;
	width: 450px;
	padding: 20px 35px;
	background: #fff;
	border-radius: 10px;
	color: #0f0f1b;
	font-size: 16px;
	text-align: left;
	box-shadow: 0px 0px 30px #03030b
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.notice_popup {
		left: 15px;
		top: 60px;
		width: calc(100% - 30px);
		padding: 20px 15px;
	}
}

.notice_popup::after {
	z-index: -1;
	content: " ";
	position: absolute;
	top: -12px;
	right: 28px;
	height: 0;
	border-bottom: 12px solid;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	color: #fff;
}

.notice_popup header {
	position: relative;
}

	.notice_popup header h2 {
		padding-bottom: 12px;
		font-size: 20px;
		font-weight: 700;
		border-bottom: 1px solid #0f0f1b;
	}

	.notice_popup header .btn_close {
		position: absolute;
		right: 0;
		top: 0px;
		width: 26px;
		height: 26px;
		text-align: left;
		text-indent: -8888px;
		background: url('../images/notice_popup_close.gif') center center no-repeat;
	}

.notice_list_wrap {
	position: relative;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

	.notice_list_wrap > div {
		border-bottom: 1px solid #c3c3d2;
	}

		.notice_list_wrap > div:last-child {
			border-bottom: none;
		}

.notice_list {
	display: block;
	width: 100%;
}

	.notice_list header {
		position: relative;
		margin-top: 25px;
		padding-left: 35px;
		background: url('../images/ico_alert.gif') left top no-repeat;
	}

		.notice_list header h3 {
			margin: 0;
			padding: 0;
			font-size: 18px;
			color: #0a0a0a;
		}

/* 모바일 340px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.notice_list header {
		margin-top: 15px;
		padding-left: 0;
		padding-top: 30px;
		background: url('../images/ico_alert.gif') left top no-repeat;
	}

		.notice_list header h3 {
			font-size: 16px;
		}
}


.notice_list header > span {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #989797;
}

.notice_list .notice_con {
	margin: 0;
	padding: 25px 0;
	font-size: 16px;
}

/* 모바일 340px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.notice_list .notice_con {
		padding: 10px 0;
	}

	.notice_list .notice_con {
		font-size: 14px;
		letter-spacing: -0.5px;
	}
}

/* 유저정보 */
.User_info_box {
	z-index: 10;
	position: relative;
	width: 100%;
	margin-top: 45px;
}

	.User_info_box .Myinfo_box {
		z-index: 10;
		position: relative;
		display: block;
		width: 1440px;
		margin: 0 auto;
	}

/* 모바일 340px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.User_info_box .Myinfo_box {
		width: calc(100% - 30px);
	}
}

button.btn_mypage {
	z-index: 10;
	position: absolute;
	left: 0;
	top: 17px;
	display: inline-block;
	background: none;
	border: none;
	text-align: left;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	overflow: hidden;
	background: url('../images/btn_mypage.png') center center no-repeat;
}

	button.btn_mypage:active,
	button.btn_mypage:focus {
		border: none;
		background: url('../images/btn_mypage.png') center center no-repeat;
	}


/* 모바일 340px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	button.btn_mypage {
		top: 3px;
		width: 30px;
		height: 30px;
		background-size: contain;
	}

		button.btn_mypage:active,
		button.btn_mypage:focus {
			background-size: contain;
		}
}

.Myinfo_link {
	z-index: 9;
	position: relative;
	display: inline-block;
	/*margin-left:60px;*/
	margin-bottom: 0px;
	margin-top: 45px;
}
/* 모바일 340px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.Myinfo_link {
		/*margin-left:45px;*/
		margin-top: 15px;
	}
}

.Myinfo_link li {
	display: inline-block;
	margin-right: 10px;
	text-align: center;
}

	.Myinfo_link li a {
		display: block;
		color: #fff;
	}

	.Myinfo_link li.user_id a {
		font-weight: 600;
		font-size: 24px;
		background: #30eea6;
		padding: 20px 45px;
		border-radius: 40px;
		background: rgb(5,197,199);
		background: linear-gradient(41deg, rgba(5,197,199,1) 6%, rgba(18,210,189,1) 44%, rgba(48,238,166,1) 92%);
	}

		.Myinfo_link li.user_id a:hover {
			background: rgb(5,197,199);
			background: linear-gradient(216deg, rgba(5,197,199,1) 6%, rgba(18,210,189,1) 44%, rgba(48,238,166,1) 92%);
		}

	.Myinfo_link li.user_mail a {
		font-weight: 500;
		font-size: 18px;
	}

		.Myinfo_link li.user_mail a:hover {
			color: #05c5c7;
			text-shadow: 2px 2px 2px #0e403f;
		}

	.Myinfo_link li.user_phone a {
		font-weight: 500;
		font-size: 18px;
	}

		.Myinfo_link li.user_phone a:hover {
			color: #05c5c7;
		}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.Myinfo_link li {
		text-align: left;
		margin-right: 5px;
	}

		.Myinfo_link li.user_id a {
			font-size: 15px;
			padding: 3px 15px;
		}

		.Myinfo_link li.user_mail {
			text-align: left;
		}

			.Myinfo_link li.user_mail a {
				padding: 5px;
				font-size: 15px;
			}

		.Myinfo_link li.user_phone a {
			padding: 5px;
			font-size: 15px;
		}
}




/* 푸터 */
.footer_box {
	z-index: 5;
	position: relative;
	width: 100%;
	margin-top: 40px;
	border-top: 1px solid #262631;
}

	.footer_box .footer_wrap {
		position: relative;
		display: block;
		width: 1440px;
		margin: 0 auto;
		padding: 0;
		height: 80px;
		text-align: center;
	}

/* 모바일 340px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.footer_box .footer_wrap {
		width: 100%;
	}
}

/* 푸터 로고 */
.footer_box .footer_wrap h6 {
	position: absolute;
	left: 0;
	top: 20px;
	display: inline-block;
	width: 173px;
	height: 36px;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	background: url('../images/footer_logo.png') left center no-repeat;
}

.footer_box .footer_wrap p {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 35px 15px;
	font-size: 14px;
	font-weight: 400;
	color: #21212c;
}

.help_center {
	position: absolute;
	right: 0;
	top: 26px;
	display: inline-block;
	padding: 0px 20px;
	font-style: italic;
	text-align: center;
	color: #5e5e65;
	background: #151520;
	border-radius: 30px;
	line-height: 4rem;
}

	.help_center:hover {
		color: #fff;
	}

/* 모바일 340px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.footer_box .footer_wrap h6 {
		display: none;
	}

	.footer_box .footer_wrap p {
		display: block;
		padding: 0px;
	}

	.help_center {
		position: relative;
		;
		right: inherit;
		top: inherit;
		margin: 0;
		margin-bottom: 30px;
	}
}



/* 버튼 컬러 */
.color_gold {
	background: #bf9d5a;
	color: #fff;
}

	.color_gold:active,
	.color_gold:focus,
	.color_gold:hover {
		background: #e1bb6f;
		color: #fff;
	}

.color_platinum {
	background: #ffffff;
	color: #ffffff;
}

	.color_platinum:active,
	.color_platinum:focus,
	.color_platinum:hover {
		background: #e2e2e2;
		color: #0f0f1b;
	}

.color_division {
	background: #e82f63;
	color: #fff;
}

	.color_division:active,
	.color_division:focus,
	.color_division:hover {
		background: #ef0a4b;
		color: #fff;
	}

.color_green {
	background: #05c5c7;
	color: #fff;
}

	.color_green:active,
	.color_green:focus,
	.color_green:hover {
		background: #3edfe1;
		color: #fff;
	}

.color_red {
	background: red;
	color: #fff;
}

	.color_red:active,
	.color_red:focus,
	.color_red:hover {
		background: red;
		color: #fff;
	}

.color_linegreen {
	background: #171722;
	color: #05c5c7;
	border: 2px solid #05c5c7;
}

	.color_linegreen:active,
	.color_linegreen:focus,
	.color_linegreen:hover {
		background: #05c5c7;
		color: #171722;
		border: 2px solid #171722;
	}

.color_violet {
	background: #8082fb;
	color: #fff;
}

	.color_violet:active,
	.color_violet:focus,
	.color_violet:hover {
		background: #696ad7;
		color: #fff;
	}


.color_lineviolet {
	background: #171722;
	color: #8082fb;
	border: 2px solid #8082fb;
}

	.color_lineviolet:active,
	.color_lineviolet:focus,
	.color_lineviolet:hover {
		background: #8082fb;
		color: #171722;
	}





/* 콘텐츠 시작 */
.middle {
	z-index: 8;
	position: relative;
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
}

	.middle .content_wrap {
		z-index: 7;
		position: relative;
		display: block;
		width: 1440px;
		margin: 0 auto;
	}

/* 데스트탑 1440px 이하 */
@media all and (max-width:1439px) {
	.middle .content_wrap {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* 대쉬보드 */

.dashboard_wrap > article {
	z-index: 15;
	position: relative;
	display: block;
	float: left;
	height: 350px;
	background: #22222d;
	border-radius: 15px;
	padding: 25px 20px;
	margin-bottom: 10px;
}

.dashboard_wrap2 > article {
	z-index: 15;
	position: relative;
	display: block;
	float: left;
	height: 300px;
	background: #22222d;
	border-radius: 15px;
	padding: 25px 20px;
	margin-bottom: 10px;
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.dashboard_wrap {
		overflow: hidden;
	}

		.dashboard_wrap > article {
			float: left;
			width: 100%;
			margin-bottom: 20px;
			height: 350px;
		}

	.dashboard_wrap2 {
		overflow: hidden;
	}

		.dashboard_wrap2 > article {
			float: left;
			width: 100%;
			margin-bottom: 20px;
			/*height:330px;*/
			height: 350px;
		}
}

/* 모바일 768px 부터 PC 1439px 까지*/
@media all and (min-width:768px) and (max-width:1439px) {
	.dashboard_wrap > article {
		width: calc(50% - 7.5px);
	}

	.dashboard_wrap2 > article {
		width: calc(50% - 7.5px);
	}
}

.dashboard_wrap > article > h1 {
	z-index: 20;
	position: relative;
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	letter-spacing: -1px;
}

.dashboard_wrap2 > article > h1 {
	z-index: 20;
	position: relative;
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	letter-spacing: -1px;
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.dashboard_wrap > article > h1 {
		font-size: 18px;
	}

	.dashboard_wrap2 > article > h1 {
		font-size: 18px;
	}
}


/* 대쉬보드 - MY VOLT BOT */
.ds_top_left {
	width: 470px;
	margin-right: 15px;
}

	.ds_top_left .item_slider {
		position: absolute;
		left: 14px;
		top: 100px;
		padding-left: 20px;
		width: 260px;
		height: 220px;
	}

.ds_top_left2 {
	width: 470px;
	margin-right: 15px;
}

	.ds_top_left2 .item_slider {
		position: absolute;
		left: 14px;
		top: 100px;
		padding-left: 20px;
		width: 260px;
		height: 220px;
	}

/* 슬라이더 버튼 */
.ds_top_left .item_slider .btn_slider_prev {
	position: absolute;
	display: block;
	left: 0;
	top: 50%;
	margin-top: -8px;
	width: 11px;
	height: 16px;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	background: url('../images/item_slider_prev.png') center center no-repeat;
}

.ds_top_left .item_slider .btn_slider_next {
	position: absolute;
	display: block;
	right: 0;
	top: 50%;
	margin-top: -8px;
	width: 11px;
	height: 16px;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	background: url('../images/item_slider_next.png') center center no-repeat;
}

/* MY VOLT BOT 우측버튼 */
.item_lvbtn {
	display: block;
	margin-left: 290px;
	margin-top: 30px;
	width: 135px;
}

	.item_lvbtn li {
		margin-bottom: 35px;
	}

		.item_lvbtn li:last-child {
			margin-bottom: 0;
		}

	.item_lvbtn .btn {
		font-weight: 700;
		padding: 14px 0;
		border-radius: 6px;
		font-size: 14px;
		border: none;
		box-sizing: border-box;
	}

.item_lvbtn2 {
	display: block;
	margin-left: 290px;
	margin-top: 10px;
	width: 135px;
}

	.item_lvbtn2 li {
		margin-bottom: 35px;
	}

		.item_lvbtn2 li:last-child {
			margin-bottom: 0;
		}

	.item_lvbtn2 .btn {
		font-weight: 700;
		padding: 14px 0;
		border-radius: 6px;
		font-size: 14px;
		border: none;
		box-sizing: border-box;
	}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:767px) {
	article.ds_top_left {
		height: 490px;
	}

	article.ds_top_left2 {
		height: 540px;
	}

	.ds_top_left .item_slider {
		left: 50%;
		top: 92px;
		margin-left: -131px;
	}

	.ds_top_left2 .item_slider {
		left: 50%;
		top: 92px;
		margin-left: -131px;
	}

	.item_lvbtn {
		display: block;
		width: 100%;
		margin-left: 0;
		margin-top: 260px;
	}

		.item_lvbtn li {
			margin-bottom: 10px;
		}

		.item_lvbtn .btn {
			padding: 10px 0;
		}

	.item_lvbtn2 {
		display: block;
		width: 100%;
		margin-left: 0;
		margin-top: 260px;
	}

		.item_lvbtn2 li {
			margin-bottom: 10px;
		}

		.item_lvbtn2 .btn {
			padding: 10px 0;
		}
}


/* 타블렛 767px 부터 PC 1439까지*/
@media all and (min-width:767px) and (max-width:1439px) {
	article.ds_top_left {
		width: 100%;
		height: 330px;
		margin-right: 0;
	}

	article.ds_top_left2 {
		width: 100%;
		height: 330px;
		margin-right: 0;
	}

	.ds_top_left .item_slider {
		left: 0;
		top: 62px;
		margin-left: 25px;
	}

	.ds_top_left2 .item_slider {
		left: 0;
		top: 62px;
		margin-left: 25px;
	}

	.item_lvbtn {
		position: absolute;
		display: block;
		width: 40%;
		right: 25px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 15px;
	}

		.item_lvbtn li {
			margin-bottom: 50px;
		}

		.item_lvbtn .btn {
			padding: 10px 0;
		}

	.item_lvbtn2 {
		position: absolute;
		display: block;
		width: 40%;
		right: 25px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 15px;
	}

		.item_lvbtn2 li {
			margin-bottom: 50px;
		}

		.item_lvbtn2 .btn {
			padding: 10px 0;
		}
}



/* 대쉬보드 - My Balance & Trading */
.ds_top_center {
	width: 530px;
	margin-right: 15px;
}

.trading_wrap {
	margin-top: 13px;
	box-sizing: border-box;
}

.trading_money {
	width: 100%;
	margin-bottom: 61px;
	padding: 20px 30px;
	text-align: right;
	/*background:#1e1e29*/
	border-radius: 6px;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: -0.5px;
	color: #30eea6;
}

/* 모바일 320px 부터 타블렛 767까지 */
@media all and (min-width:320px) and (max-width:767px) {
	article.ds_top_center {
		height: 295px;
	}

	.trading_money {
		font-size: 18px;
		/*padding:10px 20px;*/
		padding-left: 1px;
		padding-right: 1px;
	}
}



/* 타블렛 767px 부터 PC 1439까지*/
@media all and (min-width:767px) and (max-width:1439px) {

	.trading_money {
		font-size: 22px;
		padding: 22px 20px;
	}
}

.trading_wrap ul {
	width: 50%;
	float: left;
}

	.trading_wrap ul li {
		margin-bottom: 14px;
	}

		.trading_wrap ul li:last-child {
			margin-bottom: 0;
		}

.trading_wrap .btn {
	font-weight: 700;
	padding: 20px 0;
	border-radius: 6px;
	font-size: 18px;
	border: none;
	box-sizing: border-box;
}

/* 모바일 320px 부터 타블렛 767px 까지*/
@media all and (min-width:320px) and (max-width:767px) {
	.trading_wrap .btn {
		padding: 10px 5px;
		font-size: 13px;
	}
}



/* 타블렛 767px 부터 PC 1439까지*/
@media all and (min-width:767px) and (max-width:1439px) {
	.trading_wrap .btn {
		padding: 20px 5px;
		font-size: 16px;
	}
}


.trading_wrap ul.trading_btn_group1 {
	padding-right: 5px;
}

.trading_wrap ul.trading_btn_group2 {
	padding-left: 5px;
}


/* 대쉬보드 - Matching Schedule */
.ds_top_right {
	width: 410px;
}

/* 타블렛 767px 부터 PC 1439까지*/
@media all and (min-width:767px) and (max-width:1439px) {
	.ds_top_right {
		width: 410px;
		margin-right: 0;
	}
}

.schedule_Wrap {
	width: 100%;
	/*height:210px;*/
	margin-top: 5px;
	box-sizing: border-box;
}

.schedule_time {
	display: block;
	margin: 0;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	background: #8082fb;
	border-radius: 6px;
	padding: 10px 0;
}



/* 달력 헤더 */
.calendar_head {
	z-index: 30;
	position: relative;
}

.date_today {
	display: block;
	padding: 4px 0;
	margin: 0;
	text-align: center;
}

.calendar_head .btn_month_prev {
	z-index: 31;
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 32px;
	height: 30px;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	background: url('../images/month_prev.png') center center no-repeat;
	border: none;
}

.calendar_head .btn_month_next {
	z-index: 31;
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	width: 32px;
	height: 30px;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	background: url('../images/month_next.png') center center no-repeat;
	border: none;
}


.calendar_tb {
	width: 100%;
	font-size: 12px;
}

	.calendar_tb th {
		padding: 1px 0;
		text-align: center;
		color: #61617f;
	}

	.calendar_tb td {
		height: 26px;
		padding: 2px 0;
		text-align: center;
		vertical-align: top;
	}

		.calendar_tb td > p.status {
			display: block;
			text-aling: center;
			margin: 0;
			padding: 2px 0 0 0;
			width: 100%;
			height: 8px;
			font-size: 0;
			overflow: hidden;
		}


			.calendar_tb td > p.status span {
				display: inline-block;
				margin: 0 2px;
				width: 4px;
				height: 4px;
				overflow: hidden;
				font-size: 0;
				text-align: left;
				text-indent: -9999px;
			}

				.calendar_tb td > p.status span.s1 {
					background: url('../images/ico_dot_small_s1.gif') center center no-repeat;
				}

				.calendar_tb td > p.status span.s2 {
					background: url('../images/ico_dot_small_s2.gif') center center no-repeat;
				}

				.calendar_tb td > p.status span.s3 {
					background: url('../images/ico_dot_small_s3.gif') center center no-repeat;
				}





/* 대쉬보드 - My Matching */
.ds_middle_left {
	width: 350px;
	margin-right: 15px;
}

.matching_Wrap_tit {
	margin: 20px 0 10px 0;
	text-align: right;
}

	.matching_Wrap_tit > span {
		display: inline-block;
		padding: 0 6px;
	}

		.matching_Wrap_tit > span.matchingid_tit {
			width: 100px;
			text-align: center;
		}

.matching_Wrap {
	margin-top: 00px;
}


/* 모바일 320px 부터 767까지*/
@media all and (min-width:320px) and (max-width:767px) {
	article.ds_middle_left {
		/*height:375px;*/
	}

	.matching_Wrap {
		margin-top: 0px;
	}
}
/* 모바일 798px 부터 PC 1439px 까지*/
@media all and (min-width:768px) and (max-width:1439px) {
	article.ds_middle_left {
		height: 330px;
	}
}

.matching_Wrap li {
	display: block;
	border-bottom: 1px dotted #383841;
	font-weight: 600;
	padding: 8px 0;
	margin: 0;
	text-align: right;
}

	.matching_Wrap li .status {
		float: left;
		display: inline-block;
		/*width:120px;*/
		margin-top: 8px;
		padding-left: 18px;
		text-align: left;
	}

		.matching_Wrap li .status.s1 {
			background: url('../images/ico_dot_s1.png') left 6px no-repeat;
		}

		.matching_Wrap li .status.s2 {
			background: url('../images/ico_dot_s2.png') left 6px no-repeat;
		}

		.matching_Wrap li .status.s3 {
			background: url('../images/ico_dot_s3.png') left 6px no-repeat;
		}

	.matching_Wrap li .btn_link {
		display: inline-block;
		padding: 5px 6px;
		box-sizing: border-box;
		font-weight: 700;
		border: 1px solid #74747a;
	}

/* 모바일 320px 부터 타블렛 767까지*/
@media all and (min-width:320px) and (max-width:767px) {
	.matching_Wrap li {
		overflow: hidden;
		padding: 7px 0;
	}

		.matching_Wrap li .status {
			display: block;
			/*width:100%;*/
			margin-top: 4px;
			margin-bottom: 4px;
		}

		.matching_Wrap li .btn_link {
			padding: 5px 12px;
			font-size: 15px;
		}

		.matching_Wrap li .btn_match {
			/*float:left;*/
		}
}

/* 타블렛 767px 부터 PC 1439 px까지*/
@media all and (min-width:768px) and (max-width:1439px) {
	.matching_Wrap li {
		overflow: hidden;
		padding: 12px 0;
	}

		.matching_Wrap li .status {
			display: inline-block;
			width: auto;
			min-width: 120px;
			;
		}

		.matching_Wrap li .btn_match {
			float: none;
		}
}



.matching_Wrap li .btn_match {
	color: #05c5c7;
	background: #fff;
	margin-right: 5px;
	width: 110px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

	.matching_Wrap li .btn_match:hover,
	.matching_Wrap li .btn_match:active,
	.matching_Wrap li .btn_match:focus {
		color: #fff;
		background: #05c5c7;
		border: 1px solid #05c5c7;
	}


.matching_Wrap li .btn_ok {
	padding: 5px 15px;
	color: #05c5c7;
	background: none;
	margin-right: 8px;
}

	.matching_Wrap li .btn_ok:hover,
	.matching_Wrap li .btn_ok:active,
	.matching_Wrap li .btn_ok:focus {
		color: #fff;
		background: #05c5c7;
		border: 1px solid #05c5c7;
	}

.matching_Wrap li .btn_report {
	padding: 5px 15px;
	color: #e82f63;
	background: none;
	margin-right: 8px;
}

	.matching_Wrap li .btn_report:hover,
	.matching_Wrap li .btn_report:active,
	.matching_Wrap li .btn_report:focus {
		color: #fff;
		background: #e82f63;
		border: 1px solid #e82f63;
	}


/* 대쉬보드 - Matching Messages  */
.ds_middle_center {
	width: 350px;
	margin-right: 15px;
}

/* 모바일 768px 부터  PC 1439 px 까지*/
@media all and (min-width:768px) and (max-width:1439px) {
	.ds_middle_center {
		margin-right: 0;
	}
}

.matching_msg_Wrap {
	margin-top: 20px;
}

.matching_msg_tab > li > a {
	display: block;
	padding: 7px 0;
	font-weight: 600;
	background: #959596;
	color: #fff;
	border-radius: 8px;
}

	.matching_msg_tab > li > a:focus,
	.matching_msg_tab > li > a:hover {
		font-weight: 600;
		background: #20202b;
		color: #fff;
	}


.matching_msg_tab > li.active > a,
.matching_msg_tab > li.active > a:focus,
.matching_msg_tab > li.active > a:hover {
	background: #05c5c7;
}

.matching_msg_list li {
	display: block;
	border-bottom: 1px dotted #383841;
	font-size: 16px;
	font-weight: 600;
	padding: 13px 0;
	margin: 0;
}

	.matching_msg_list li a {
		display: block;
	}

		.matching_msg_list li a .status {
			display: inline-block;
			padding-left: 18px;
			text-align: left;
			color: #fff;
		}
/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.matching_msg_list li a .status {
		font-size: 16px;
	}
}

.matching_msg_list li a:hover .status {
	color: #05c5c7;
}

.matching_msg_list li .status.s1 {
	background: url('../images/ico_dot_s1.png') left 6px no-repeat;
}

.matching_msg_list li .status.s2 {
	background: url('../images/ico_dot_s2.png') left 6px no-repeat;
}

.matching_msg_list li .status.s3 {
	background: url('../images/ico_dot_s3.png') left 6px no-repeat;
}

.matching_msg_list li span.float-right {
	font-size: 16px;
	color: #616165;
	font-weight: 500;
	letter-spacing: -0.5px;
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.matching_msg_list li span.float-right {
		font-size: 14px;
	}
}


/* 대쉬보드 - Transaction History  */
.ds_middle_right {
	width: 710px;
}

.ds_middle_right2 {
	width: 710px;
}

/* 타블렛 768px 부터 PC 1439px 까지*/
@media all and (min-width:768px) and (max-width:1439px) {
	article.ds_middle_right {
		width: 100%;
	}

	article.ds_middle_right2 {
		width: 100%;
	}
}

.transaction_his_tb {
	width: 100%;
	margin-top: 10px;
}

	.transaction_his_tb thead th {
		padding: 21px 0;
	}

	.transaction_his_tb tbody td {
		padding: 8px 0;
		font-weight: 700;
	}


		.transaction_his_tb tbody td.tbody_td1 {
			color: #929295;
		}

		.transaction_his_tb tbody td.tbody_td2 {
			color: #ffffff;
		}

		.transaction_his_tb tbody td.tbody_td3 {
			color: #929295;
			text-align: center;
		}

		.transaction_his_tb tbody td.tbody_td4 {
			color: #8082fb;
			text-align: right;
		}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	article.ds_middle_right {
		height: 310px;
	}

	article.ds_middle_right2 {
		height: 420px;
	}

	.transaction_his_tb {
		font-size: 14px;
	}

		.transaction_his_tb thead th {
			padding: 10px 5px;
			font-size: 14px;
			text-align: center;
			border-bottom: 1px;
			border-bottom: 1px dotted #383841;
		}

		.transaction_his_tb tbody td {
			padding: 8px 0;
			font-weight: 500;
			text-align: center;
			border-bottom: 1px dotted #383841;
		}
}

/* transaction_his_tb_wrap */

.transaction_his_list {
	margin-bottom: 20px;
}

	.transaction_his_list > div {
		margin-bottom: 15px;
	}

	.transaction_his_list .list_item {
		display: block;
		border-radius: 20px;
		padding: 10px 15px;
		background: #171722;
		overflow: hidden;
		cursor: pointer;
	}

		.transaction_his_list .list_item:hover {
			background: #2a2a3a;
		}


		.transaction_his_list .list_item > div {
			display: inline-block;
			width: 20%;
			float: left;
			margin: 2px 0;
		}

			.transaction_his_list .list_item > div.description {
				width: 40%;
			}


/* 모바일 320px 부터 타블렛 1439까지*/
@media all and (min-width:320px) and (max-width:1199px) {
	.transaction_his_list .list_item > div {
		display: block;
		width: 100%;
	}

		.transaction_his_list .list_item > div.description {
			width: 100%;
		}
}

.transaction_his_list .list_item .item_bedge {
	display: inline-block;
	background: #20202b;
	width: 120px;
	font-weight: 600;
	margin-right: 10px;
	padding: 10px 0;
	text-align: center;
	border-radius: 10px;
}


/* 모바일 320px 부터 타블렛 1439까지*/
@media all and (min-width:320px) and (max-width:575px) {
	.transaction_his_list .list_item .item_bedge {
		font-size: 14px;
	}

	.transaction_his_list .list_item span {
		text-align: center;
		padding: 10px 0;
	}

	.transaction_his_list .list_item .description span {
		display: block;
	}
}


/* 대쉬보드 bottom - 공통  */
.ds_bottom_conbox > p {
	width: 40%;
	font-weight: 500;
	font-size: 14px;
	padding-top: 28px;
	line-height: 24px;
}

.ds_bottom_conbox > button.btn {
	position: absolute;
	bottom: 0;
	font-weight: 600;
	padding: 10px 30px;
}


/* 대쉬보드 - SPARK  */
.ds_bottom_left {
	width: 470px;
	margin-right: 15px;
}

	.ds_bottom_left .ds_bottom_conbox {
		position: relative;
		top: -20px;
		padding-top: 20px;
		height: 100%;
		background: url('../images/bg_spark.png') right bottom no-repeat;
	}



/* 대쉬보드 - VOLT CARD  */
.ds_bottom_center {
	width: 470px;
	margin-right: 15px;
}

	.ds_bottom_center .ds_bottom_conbox {
		position: relative;
		top: -20px;
		padding-top: 20px;
		height: 100%;
		background: url('../images/bg_voltcard.png') right bottom no-repeat;
	}

/* 대쉬보드 - ONLINE SHOP  */
.ds_bottom_right {
	width: 470px;
}

	.ds_bottom_right .ds_bottom_conbox {
		position: relative;
		top: -20px;
		padding-top: 20px;
		height: 100%;
		background: url('../images/bg_onlineshop.png') right bottom no-repeat;
	}

/* 모바일 320px 부터 타블렛 767까지*/
@media all and (min-width:320px) and (max-width:767px) {
	.ds_bottom_conbox > p {
		width: 70%;
		padding-top: 10px;
		font-size: 13px;
		line-height: 22px;
		;
	}

	.ds_bottom_conbox > button.btn {
		font-size: 14px;
		padding: 8px 15px;
	}

	article.ds_bottom_left {
		height: 220px;
	}

	.ds_bottom_left .ds_bottom_conbox {
		background-size: 35%;
		background-position: right top;
	}

	article.ds_bottom_center {
		height: 220px;
	}

	.ds_bottom_center .ds_bottom_conbox {
		background-size: 35%;
		background-position: right top;
	}

	article.ds_bottom_right {
		height: 220px;
	}

	.ds_bottom_right .ds_bottom_conbox {
		background-size: 35%;
		background-position: right top;
	}
}


/* 모바일 320px 부터 타블렛 767까지*/
@media all and (min-width:768px) and (max-width:1439px) {
	article.ds_bottom_left {
		width: calc(33.3333% - 10px)
	}

	article.ds_bottom_center {
		width: calc(33.3333% - 10px)
	}

	article.ds_bottom_right {
		width: calc(33.3333% - 10px)
	}

	.ds_bottom_conbox > p {
		width: 70%;
	}

	.ds_bottom_left .ds_bottom_conbox {
		background-size: 45%;
		background-position: right 60%;
	}

	.ds_bottom_center .ds_bottom_conbox {
		background-size: 45%;
		background-position: right 60%;
	}

	.ds_bottom_right .ds_bottom_conbox {
		background-size: 45%;
		background-position: right 60%;
	}

	.ds_bottom_conbox > button.btn {
		padding: 5px 15px;
		font-size: 15px;
	}
}








/* 서브페이지 타이틀 */
.subtitle_wrap {
	position: relative;
	width: 100%;
	padding-top: 20px;
	margin-bottom: 40px;
}

	.subtitle_wrap h2 {
		margin: 0;
		padding: 0;
		text-align: left;
		font-size: 20px;
		font-weight: 700;
	}


		.subtitle_wrap h2 > span {
			display: inline-block;
			margin: 0;
			padding: 0 10px 8px 10px;
			border-bottom: 3px solid #30eea6;
		}
/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.subtitle_wrap {
		padding-top: 0px;
		margin-bottom: 25px;
	}

		.subtitle_wrap h2 {
			font-size: 18px;
			text-align: left;
		}

			.subtitle_wrap h2 > span {
				display: block;
				padding: 8px 10px;
				border-bottom: 2px solid #30eea6;
			}
}

/* 회원등급 */
.subtitle_wrap .user_lv_box {
	position: absolute;
	left: 130px;
	top: 15px;
}


.subtitle_wrap .user_lv {
	display: inline-block;
	text-align: left;
	overflow: hidden;
	border: none;
	height: 40px;
	padding-left: 50px;
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	margin-left: 0;
	margin-right: 10px;
}


.subtitle_wrap .lv1 {
	background: url(../images/ico_user_lv1.png) left center no-repeat;
}

.subtitle_wrap .lv2 {
	background: url(../images/ico_user_lv2.png) left center no-repeat;
}

.subtitle_wrap .lv3 {
	background: url(../images/ico_user_lv3.png) left center no-repeat;
}

.subtitle_wrap .lv4 {
	background: url(../images/ico_user_lv4.png) left center no-repeat;
	color: #fddb00;
}

.user_lv {
	display: inline-block;
	text-align: left;
	overflow: hidden;
	border: none;
	height: 40px;
	padding-left: 50px;
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	margin-left: 0;
	margin-right: 10px;
}

.lv4 {
	background: url(../images/ico_user_lv4.png) left center no-repeat;
	color: #fddb00;
}

@media all and (min-width:320px) and (max-width:1439px) {
	.subtitle_wrap .user_lv_box {
		position: absolute;
		left: inherit;
		top: 5px;
		right: 0;
	}

	.subtitle_wrap .user_lv {
		height: 24px;
		margin-right: 0;
		font-size: 15px;
		line-height: 24px;
		padding-left: 30px;
		margin-left: 10px;
		margin-right: 0;
	}

	.subtitle_wrap .lv1 {
		background-size: contain;
	}

	.subtitle_wrap .lv2 {
		background-size: contain;
	}

	.subtitle_wrap .lv3 {
		background-size: contain;
	}

	.subtitle_wrap .lv4 {
		background-size: contain;
	}
}


/*  item list */

.item_list {
	position: relative;
	width: 100%;
}

	.item_list > form {
		width: 100%;
	}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.item_list {
		width: auto;
	}
}

.item_list > div {
	margin-bottom: 20px;
}


/*  item list */
.buy_conbox {
	width: 99.5%;
	display: block;
	border-radius: 20px;
	margin: 0 auto;
	padding: 30px 32px;
	background: #171722;
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.buy_conbox {
		padding: 15px 12px;
		border-radius: 12px;
	}
}

.buy_top {
	display: block;
	margin-bottom: 20px;
}

	.buy_top .bedge_top {
		display: inline-block;
		width: 130px;
		margin-right: 18px;
		padding: 10px 0;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		border-radius: 8px;
		background: #5a5a5a;
	}

	.buy_top .bedge_gold {
		display: inline-block;
		width: 130px;
		margin-right: 18px;
		padding: 10px 0;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		border-radius: 8px;
		background: #bf9d5a;
		color: #fff;
	}

	.buy_top .bedge_platinum {
		display: inline-block;
		width: 130px;
		margin-right: 18px;
		padding: 10px 0;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		border-radius: 8px;
		background: #fff;
		color: #1e1e28;
	}

	.buy_top .bedge_division {
		display: inline-block;
		width: 130px;
		margin-right: 18px;
		padding: 10px 0;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		border-radius: 8px;
		background: #e82f63;
		color: #fff;
	}

	.buy_top .top_money {
		font-weight: 700;
		font-size: 22px;
	}

.item_detail .bedge_top {
	display: inline-block;
	width: 130px;
	margin-right: 18px;
	padding: 6px 0;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	border-radius: 8px;
	background: #5a5a5a;
	color: #fff;
}


/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.buy_top .bedge_top {
		width: 80px;
		margin-right: 12px;
		padding: 8px 0;
		font-size: 15px;
	}

	.buy_top .bedge_gold {
		width: 80px;
		margin-right: 12px;
		padding: 8px 0;
		font-size: 15px;
	}

	.buy_top .bedge_platinum {
		width: 80px;
		margin-right: 12px;
		padding: 8px 0;
		font-size: 15px;
	}

	.buy_top .bedge_division {
		width: 80px;
		margin-right: 12px;
		padding: 8px 0;
		font-size: 15px;
	}

	.buy_top .top_money {
		font-weight: 700;
		font-size: 18px;
	}
}


/* buy item detail */
.item_detail {
	position: relative;
	display: block;
	list-style: none;
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
}

.buy_conbox .item_detail {
	border-bottom: 1px solid #4f4f4f;
}

.item_detail li {
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 500;
}


	.item_detail li > span.item_bedge {
		position: relative;
		display: inline-block;
		width: 130px;
		margin-right: 20px;
		padding: 8px 0;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		border-radius: 8px;
	}

	.item_detail li > span.item_bedge2 {
		position: relative;
		display: inline-block;
		width: 380px;
		margin-right: 20px;
		padding: 8px 0;
		padding-left: 10px;
		font-size: 16px;
		font-weight: 700;
		border-radius: 8px;
	}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.item_detail li {
		font-size: 16px;
	}

		.item_detail li > span.item_bedge {
			/*display:block;*/
			width: 100%;
			margin-bottom: 5px;
			margin-right: 0;
			padding: 8px 0;
			font-size: 15px;
		}

		.item_detail li > span.item_bedge2 {
			display: block;
			width: 100%;
			margin-bottom: 5px;
			margin-right: 0;
			padding: 8px 0;
			font-size: 15px;
			text-align: center;
		}
}


.buy_conbox .item_detail li {
	color: #fff;
}

	.buy_conbox .item_detail li > span.item_bedge {
		background: #20202b;
	}

	.buy_conbox .item_detail li > span.item_bedge2 {
		background: #20202b;
	}


/* sell item list */
.sell_conbox {
	width: 99.5%;
	display: block;
	border-radius: 20px;
	margin: 0 auto;
	padding: 30px 32px;
	background: #fff;
}


/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.sell_conbox {
		padding: 15px 12px;
		border-radius: 12px;
	}
}





.sell_conbox .item_detail {
	border-bottom: 1px solid #e4e4e4;
}

	.sell_conbox .item_detail li {
		color: #000;
	}

		.sell_conbox .item_detail li > span.item_bedge {
			background: #20202b;
			color: #fff;
		}

		.sell_conbox .item_detail li > span.item_bedge2 {
			background: #20202b;
			color: #fff;
		}



/* 국가 아이콘 */
.item_detail li i {
	position: absolute;
	/*left:148px;*/
	top: 4px;
}
/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.item_detail li i {
		position: relative;
		left: 0;
		top: 0;
	}
}



i.ico_bedge_country {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	text-align: left;
	overflow: hidden;
}

.ico_korea {
	background: url('../images/ico_korea.png') center center no-repeat;
}

.ico_china {
	background: url('../images/ico_china.png') center center no-repeat;
}

.ico_extra {
	background: url('../images/ico_extra.png') center center no-repeat;
}

.ico_country_1 {
	background: url('../images/ico_country_1.png') center center no-repeat;
}

.ico_country_2 {
	background: url('../images/ico_country_2.png') center center no-repeat;
}

.ico_country_3 {
	background: url('../images/ico_country_3.png') center center no-repeat;
}

.ico_country_4 {
	background: url('../images/ico_country_4.png') center center no-repeat;
}

.ico_country_5 {
	background: url('../images/ico_country_5.png') center center no-repeat;
}

.ico_country_6 {
	background: url('../images/ico_country_6.png') center center no-repeat;
}

.ico_country_7 {
	background: url('../images/ico_country_7.png') center center no-repeat;
}

.ico_country_8 {
	background: url('../images/ico_country_8.png') center center no-repeat;
}

.ico_country_9 {
	background: url('../images/ico_country_9.png') center center no-repeat;
}

.ico_country_10 {
	background: url('../images/ico_country_10.png') center center no-repeat;
}

.ico_country_11 {
	background: url('../images/ico_country_11.png') center center no-repeat;
}

.ico_country_12 {
	background: url('../images/ico_country_12.png') center center no-repeat;
}

.ico_country_13 {
	background: url('../images/ico_country_13.png') center center no-repeat;
}

.ico_country_14 {
	background: url('../images/ico_country_14.png') center center no-repeat;
}

.ico_country_15 {
	background: url('../images/ico_country_15.png') center center no-repeat;
}

.ico_country_16 {
	background: url('../images/ico_country_16.png') center center no-repeat;
}

.ico_country_17 {
	background: url('../images/ico_country_17.png') center center no-repeat;
}

.ico_country_18 {
	background: url('../images/ico_country_18.png') center center no-repeat;
}

.ico_country_19 {
	background: url('../images/ico_country_19.png') center center no-repeat;
}

.ico_country_20 {
	background: url('../images/ico_country_20.png') center center no-repeat;
}

.ico_country_21 {
	background: url('../images/ico_country_21.png') center center no-repeat;
}

.ico_country_22 {
	background: url('../images/ico_country_22.png') center center no-repeat;
}

.ico_country_23 {
	background: url('../images/ico_country_23.png') center center no-repeat;
}

.ico_country_24 {
	background: url('../images/ico_country_24.png') center center no-repeat;
}

.ico_country_25 {
	background: url('../images/ico_country_25.png') center center no-repeat;
}

.ico_country_26 {
	background: url('../images/ico_country_26.png') center center no-repeat;
}

.ico_country_27 {
	background: url('../images/ico_country_27.png') center center no-repeat;
}

.ico_country_28 {
	background: url('../images/ico_country_28.png') center center no-repeat;
}

.ico_country_29 {
	background: url('../images/ico_country_29.png') center center no-repeat;
}

.ico_country_30 {
	background: url('../images/ico_country_30.png') center center no-repeat;
}

.ico_country_31 {
	background: url('../images/ico_country_31.png') center center no-repeat;
}

.ico_country_32 {
	background: url('../images/ico_country_32.png') center center no-repeat;
}

.ico_country_33 {
	background: url('../images/ico_country_33.png') center center no-repeat;
}

.ico_country_34 {
	background: url('../images/ico_country_34.png') center center no-repeat;
}

.ico_country_35 {
	background: url('../images/ico_country_35.png') center center no-repeat;
}

.ico_country_36 {
	background: url('../images/ico_country_36.png') center center no-repeat;
}

.ico_country_37 {
	background: url('../images/ico_country_37.png') center center no-repeat;
}

.ico_country_38 {
	background: url('../images/ico_country_38.png') center center no-repeat;
}

.ico_country_39 {
	background: url('../images/ico_country_39.png') center center no-repeat;
}

.ico_country_40 {
	background: url('../images/ico_country_40.png') center center no-repeat;
}

.ico_country_41 {
	background: url('../images/ico_country_41.png') center center no-repeat;
}

.ico_country_42 {
	background: url('../images/ico_country_42.png') center center no-repeat;
}

.ico_country_43 {
	background: url('../images/ico_country_43.png') center center no-repeat;
}

.ico_country_44 {
	background: url('../images/ico_country_44.png') center center no-repeat;
}

.ico_country_45 {
	background: url('../images/ico_country_45.png') center center no-repeat;
}

.ico_country_46 {
	background: url('../images/ico_country_46.png') center center no-repeat;
}

.ico_country_47 {
	background: url('../images/ico_country_47.png') center center no-repeat;
}

.ico_country_48 {
	background: url('../images/ico_country_48.png') center center no-repeat;
}

.ico_country_49 {
	background: url('../images/ico_country_49.png') center center no-repeat;
}

.ico_country_50 {
	background: url('../images/ico_country_50.png') center center no-repeat;
}

.ico_country_51 {
	background: url('../images/ico_country_51.png') center center no-repeat;
}

.ico_country_52 {
	background: url('../images/ico_country_52.png') center center no-repeat;
}

.ico_country_53 {
	background: url('../images/ico_country_53.png') center center no-repeat;
}

.ico_country_54 {
	background: url('../images/ico_country_54.png') center center no-repeat;
}

.ico_country_55 {
	background: url('../images/ico_country_55.png') center center no-repeat;
}

.ico_country_56 {
	background: url('../images/ico_country_56.png') center center no-repeat;
}

.ico_country_57 {
	background: url('../images/ico_country_57.png') center center no-repeat;
}

.ico_country_58 {
	background: url('../images/ico_country_58.png') center center no-repeat;
}

.ico_country_59 {
	background: url('../images/ico_country_59.png') center center no-repeat;
}

.ico_country_60 {
	background: url('../images/ico_country_60.png') center center no-repeat;
}

.ico_country_61 {
	background: url('../images/ico_country_61.png') center center no-repeat;
}

.ico_country_62 {
	background: url('../images/ico_country_62.png') center center no-repeat;
}

.ico_country_63 {
	background: url('../images/ico_country_63.png') center center no-repeat;
}

.ico_country_64 {
	background: url('../images/ico_country_64.png') center center no-repeat;
}

.ico_country_65 {
	background: url('../images/ico_country_65.png') center center no-repeat;
}

.ico_country_66 {
	background: url('../images/ico_country_66.png') center center no-repeat;
}

.ico_country_00 {
	background: url('../images/ico_country_00.png') center center no-repeat;
}



i.ico_bedge_bank {
	display: inline-block;
	width: 110px;
	height: 38px;
	text-indent: -9999px;
	text-align: left;
	overflow: hidden;
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	i.ico_bedge_bank {
		display: block;
	}
}

.ico_bank_kb {
	background: url('../images/ico_bank_kb.png') left center no-repeat;
}

.ico_bank_1 {
	background: url('../images/ico_bank_1.png') left center no-repeat;
}

.ico_bank_2 {
	background: url('../images/ico_bank_2.png') left center no-repeat;
}

.ico_bank_3 {
	background: url('../images/ico_bank_3.png') left center no-repeat;
}

.ico_bank_4 {
	background: url('../images/ico_bank_4.png') left center no-repeat;
}

.ico_bank_5 {
	background: url('../images/ico_bank_5.png') left center no-repeat;
}

.ico_bank_6 {
	background: url('../images/ico_bank_6.png') left center no-repeat;
}

.ico_bank_7 {
	background: url('../images/ico_bank_7.png') left center no-repeat;
}

.ico_bank_8 {
	background: url('../images/ico_bank_8.png') left center no-repeat;
}

.ico_bank_9 {
	background: url('../images/ico_bank_9.png') left center no-repeat;
}

.ico_bank_10 {
	background: url('../images/ico_bank_10.png') left center no-repeat;
}

.ico_bank_11 {
	background: url('../images/ico_bank_11.png') left center no-repeat;
}

.ico_bank_12 {
	background: url('../images/ico_bank_12.png') left center no-repeat;
}

.ico_bank_13 {
	background: url('../images/ico_bank_13.png') left center no-repeat;
}

.ico_bank_14 {
	background: url('../images/ico_bank_14.png') left center no-repeat;
}

.ico_bank_15 {
	background: url('../images/ico_bank_15.png') left center no-repeat;
}

.ico_bank_16 {
	background: url('../images/ico_bank_16.png') left center no-repeat;
}

.ico_bank_17 {
	background: url('../images/ico_bank_17.png') left center no-repeat;
}

.ico_bank_18 {
	background: url('../images/ico_bank_18.png') left center no-repeat;
}

.ico_bank_19 {
	background: url('../images/ico_bank_19.png') left center no-repeat;
}

.ico_bank_20 {
	background: url('../images/ico_bank_20.png') left center no-repeat;
}

.ico_bank_21 {
	background: url('../images/ico_bank_21.png') left center no-repeat;
}

.ico_bank_22 {
	background: url('../images/ico_bank_22.png') left center no-repeat;
}

.ico_bank_23 {
	background: url('../images/ico_bank_23.png') left center no-repeat;
}

.ico_bank_24 {
	background: url('../images/ico_bank_24.png') left center no-repeat;
}

.ico_bank_25 {
	background: url('../images/ico_bank_25.png') left center no-repeat;
}

.ico_bank_26 {
	background: url('../images/ico_bank_26.png') left center no-repeat;
}

.ico_bank_27 {
	background: url('../images/ico_bank_27.png') left center no-repeat;
}

.ico_bank_28 {
	background: url('../images/ico_bank_28.png') left center no-repeat;
}

.ico_bank_29 {
	background: url('../images/ico_bank_29.png') left center no-repeat;
}

.ico_bank_30 {
	background: url('../images/ico_bank_30.png') left center no-repeat;
}

.ico_bank_31 {
	background: url('../images/ico_bank_31.png') left center no-repeat;
}

.ico_bank_32 {
	background: url('../images/ico_bank_32.png') left center no-repeat;
}

.ico_bank_33 {
	background: url('../images/ico_bank_33.png') left center no-repeat;
}

.ico_bank_34 {
	background: url('../images/ico_bank_34.png') left center no-repeat;
}

.ico_bank_35 {
	background: url('../images/ico_bank_35.png') left center no-repeat;
}

.ico_bank_36 {
	background: url('../images/ico_bank_36.png') left center no-repeat;
}

.ico_bank_37 {
	background: url('../images/ico_bank_37.png') left center no-repeat;
}

.ico_bank_38 {
	background: url('../images/ico_bank_38.png') left center no-repeat;
}

.ico_bank_39 {
	background: url('../images/ico_bank_39.png') left center no-repeat;
}

.ico_bank_40 {
	background: url('../images/ico_bank_40.png') left center no-repeat;
}

.ico_bank_41 {
	background: url('../images/ico_bank_41.png') left center no-repeat;
}

.ico_bank_42 {
	background: url('../images/ico_bank_42.png') left center no-repeat;
}

.ico_bank_43 {
	background: url('../images/ico_bank_43.png') left center no-repeat;
}

.ico_bank_44 {
	background: url('../images/ico_bank_44.png') left center no-repeat;
}

.ico_bank_45 {
	background: url('../images/ico_bank_45.png') left center no-repeat;
}

.ico_bank_46 {
	background: url('../images/ico_bank_46.png') left center no-repeat;
}

.ico_bank_47 {
	background: url('../images/ico_bank_47.png') left center no-repeat;
}

.ico_bank_48 {
	background: url('../images/ico_bank_48.png') left center no-repeat;
}

.ico_bank_49 {
	background: url('../images/ico_bank_49.png') left center no-repeat;
}

.ico_bank_50 {
	background: url('../images/ico_bank_50.png') left center no-repeat;
}

.ico_bank_51 {
	background: url('../images/ico_bank_51.png') left center no-repeat;
}

.ico_bank_52 {
	background: url('../images/ico_bank_52.png') left center no-repeat;
}

.ico_bank_53 {
	background: url('../images/ico_bank_53.png') left center no-repeat;
}

.ico_bank_54 {
	background: url('../images/ico_bank_54.png') left center no-repeat;
}

.ico_bank_55 {
	background: url('../images/ico_bank_55.png') left center no-repeat;
}

.ico_bank_56 {
	background: url('../images/ico_bank_56.png') left center no-repeat;
}

.ico_bank_57 {
	background: url('../images/ico_bank_57.png') left center no-repeat;
}

.ico_bank_58 {
	background: url('../images/ico_bank_58.png') left center no-repeat;
}

.ico_bank_001 {
	background: url('../images/ico_bank_001.png') left center no-repeat;
}

.ico_bank_002 {
	background: url('../images/ico_bank_002.png') left center no-repeat;
}

.ico_bank_003 {
	background: url('../images/ico_bank_003.png') left center no-repeat;
}

.ico_bank_004 {
	background: url('../images/ico_bank_004.png') left center no-repeat;
}

.ico_bank_005 {
	background: url('../images/ico_bank_005.png') left center no-repeat;
}

.ico_bank_006 {
	background: url('../images/ico_bank_006.png') left center no-repeat;
}

.ico_bank_007 {
	background: url('../images/ico_bank_007.png') left center no-repeat;
}

.ico_bank_008 {
	background: url('../images/ico_bank_008.png') left center no-repeat;
}

.ico_bank_009 {
	background: url('../images/ico_bank_009.png') left center no-repeat;
}

.ico_bank_010 {
	background: url('../images/ico_bank_010.png') left center no-repeat;
}

.ico_bank_011 {
	background: url('../images/ico_bank_011.png') left center no-repeat;
}

.ico_bank_012 {
	background: url('../images/ico_bank_012.png') left center no-repeat;
}

.ico_bank_013 {
	background: url('../images/ico_bank_013.png') left center no-repeat;
}

.ico_bank_014 {
	background: url('../images/ico_bank_014.png') left center no-repeat;
}

.ico_bank_015 {
	background: url('../images/ico_bank_015.png') left center no-repeat;
}

.ico_bank_016 {
	background: url('../images/ico_bank_016.png') left center no-repeat;
}

.ico_bank_017 {
	background: url('../images/ico_bank_017.png') left center no-repeat;
}

.ico_bank_018 {
	background: url('../images/ico_bank_018.png') left center no-repeat;
}

.ico_bank_019 {
	background: url('../images/ico_bank_019.png') left center no-repeat;
}

.ico_bank_020 {
	background: url('../images/ico_bank_020.png') left center no-repeat;
}

.ico_bank_021 {
	background: url('../images/ico_bank_021.png') left center no-repeat;
}

.ico_bank_022 {
	background: url('../images/ico_bank_022.png') left center no-repeat;
}

.ico_bank_023 {
	background: url('../images/ico_bank_023.png') left center no-repeat;
}

.ico_bank_024 {
	background: url('../images/ico_bank_024.png') left center no-repeat;
}

.ico_bank_025 {
	background: url('../images/ico_bank_025.png') left center no-repeat;
}

.ico_bank_026 {
	background: url('../images/ico_bank_026.png') left center no-repeat;
}

.ico_bank_027 {
	background: url('../images/ico_bank_027.png') left center no-repeat;
}

.ico_bank_028 {
	background: url('../images/ico_bank_028.png') left center no-repeat;
}

.ico_bank_029 {
	background: url('../images/ico_bank_029.png') left center no-repeat;
}

.ico_bank_030 {
	background: url('../images/ico_bank_030.png') left center no-repeat;
}

.ico_bank_031 {
	background: url('../images/ico_bank_031.png') left center no-repeat;
}

.item_phone {
	display: inline-block;
	margin-left: 32px;
}

.item_phone2 {
	display: inline-block;
	margin-left: 32px;
}


.item_bank {
	display: inline-block;
	margin-left: 115px;
}

.item_bank2 {
	display: inline-block;
	/*margin-left:115px;*/
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.item_phone {
		position: relative;
		top: -8px;
	}

	.item_phone2 {
		position: relative;
		top: -8px;
		margin-left: 0px;
	}

	.item_bank {
		margin-left: 0;
	}

	.item_bank2 {
		margin-left: 0;
	}
}


/* item 버튼 */
button.btn_copy {
	font-weight: 600;
	border-radius: 5px;
}

	button.btn_copy:hover,
	button.btn_copy:active,
	button.btn_copy:focus {
		background: #05c5c7;
		color: #fff;
	}


/* item buy 버튼 */
.buy_conbox button.btn_copy {
	background: #fff;
	color: #20202b;
}

	.buy_conbox button.btn_copy:hover,
	.buy_conbox button.btn_copy:active,
	.buy_conbox button.btn_copy:focus {
		background: #05c5c7;
		color: #fff;
	}

/* item sell 버튼 */
.sell_conbox button.btn_copy {
	background: #e4e4e4;
	color: #20202b;
}

	.sell_conbox button.btn_copy:hover,
	.sell_conbox button.btn_copy:active,
	.sell_conbox button.btn_copy:focus {
		background: #05c5c7;
		color: #fff;
	}


.btn_buy_call {
	min-width: 160px;
	background: #e82f63;
	font-weight: 700;
	font-size: 18px;
	padding: 10px 0;
	text-align: center;
	border-radius: 8px;
}

.btn_footer {
	position: relative;
	min-width: 130px;
	font-weight: 700;
	font-size: 18px;
	padding: 10px 0;
	text-align: center;
	border-radius: 8px;
}


/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	button.btn_copy {
		padding: 4px 6px;
	}

	.btn_footer {
		min-width: 100%;
		font-size: 16px;
		padding: 8px 0;
		margin-bottom: 5px;
	}
}

.item_list_btngroup .float-right > .btn_footer {
	margin-left: 3px;
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.item_list_btngroup {
		text-align: center;
	}

		.item_list_btngroup .float-right > .btn_footer {
			margin-left: 0;
		}

		.item_list_btngroup > .float-right {
			float: none !important;
			display: block;
			text-align: center;
		}
}

.btn_ico {
	display: inline-block;
}

.ico_call {
	padding-left: 26px;
	background: url('../images/ico_call.png') left center no-repeat;
}

.ico_message {
	padding-left: 30px;
	background: url('../images/ico_message.png') left center no-repeat;
}

.ico_money {
	padding-left: 32px;
	background: url('../images/ico_money.png') left center no-repeat;
}


/* pagination // 페이지네이션 */
.pagination li a {
	background: none;
	border: none;
	color: #fff;
}

	.pagination li a:hover {
		background: none;
		border: none;
		color: #05c5c7;
	}

.pagination li.active a,
.page-item.active .page-link {
	background: #05c5c7;
	border: none;
	height: 50px;
	color: #fff;
	border-radius: 20px;
}

.btn_page {
	display: inline-block;
	width: 20px;
	height: 18px;
	overflow: hidden;
	text-align: left;
	text-indent: -9999px;
}



.btn_first {
	background: url('../images/btn_page_first.png') center center no-repeat;
}

.btn_prev {
	background: url('../images/btn_page_prev.png') center center no-repeat;
}

.btn_next {
	background: url('../images/btn_page_next.png') center center no-repeat;
}

.btn_end {
	background: url('../images/btn_page_end.png') center center no-repeat;
}

a:hover .btn_first {
	background: url('../images/btn_page_first_on.png') center center no-repeat;
}

a:hover .btn_prev {
	background: url('../images/btn_page_prev_on.png') center center no-repeat;
}

a:hover .btn_next {
	background: url('../images/btn_page_next_on.png') center center no-repeat;
}

a:hover .btn_end {
	background: url('../images/btn_page_end_on.png') center center no-repeat;
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {

	.page-link {
		padding: .2rem .38rem;
		font-size: 14px;
	}

	.pagination li.active a,
	.page-item.active .page-link {
		height: auto;
	}

	.btn_page {
		width: 14px;
		height: 14px;
	}

	.btn_prev {
		background-size: contain;
	}

	.btn_next {
		background-size: contain;
	}

	.btn_first {
		background-size: contain;
	}

	.btn_end {
		background-size: contain;
	}

	a .btn_prev,
	a:hover .btn_prev,
	a:active .btn_prev,
	a:focus .btn_prev {
		background-size: contain;
	}

	a .btn_next,
	a:hover .btn_next,
	a:active .btn_next,
	a:focus .btn_next {
		background-size: contain;
	}

	a .btn_first,
	a:hover .btn_first,
	a:active .btn_first,
	a:focus .btn_first {
		background-size: contain;
	}

	a .btn_end,
	a:hover .btn_end,
	a:active .btn_end,
	a:focus .btn_end {
		background-size: contain;
	}
}



/* 알럿창 */
.modal-dialog.modal-sm {
	max-width: 500px;
}

.alert_con {
	text-align: center;
	color: #2e2e2e;
	font-weight: 700;
	padding: 30px 20px;
}

.alert_body {
	text-align: center;
	color: #2e2e2e;
	font-weight: 700;
	padding: 0px 20px;
}

.alert_ico {
	display: block;
	margin: 15px auto;
	width: 85px;
	height: 75px;
	overflow: hidden;
}

.ico_caution {
	background: url('../images/ico_alert_caution.png') center center no-repeat;
}


p.c_division {
	color: #e82f63;
}

p.c_green {
	color: #05c5c7;
}

.alert_bottom {
	text-align: center;
	margin-bottom: 30px;
}

	.alert_bottom a.btn {
		min-width: 160px;
		font-weight: 700;
		font-size: 18px;
		margin: 0 3px;
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.alert_bottom a.btn_ok {
		min-width: 330px;
		margin: 0;
		border-radius: 40px;
	}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {

	.alert_bottom a.btn {
		min-width: auto;
		padding: 8px 35px;
	}

	.alert_bottom a.btn_ok {
		min-width: auto;
		padding: 8px 35px;
	}
}




/* 매칭 메세지 */
.msg_conbox {
	position: relative;
	display: block;
	width: 100%;
	padding: 20px 24px;
	border-radius: 20px;
	background: #634343;
	cursor: pointer;
	font-size: 0;
}

	.msg_conbox:hover {
		background: #272732;
	}

	.msg_conbox > div {
		display: inline-block;
		margin-right: 20px;
		font-size: 18px;
		font-weight: 700;
	}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.msg_conbox {
		padding: 15px;
	}

		.msg_conbox > div {
			display: block;
			margin-right: 0;
			font-size: 16px;
		}
}

/* msg_front */
.msg_front {
	border-right: 1px solid #51515e;
}

	.msg_front .item_level {
		display: inline-block;
		min-width: 135px;
		margin-right: 30px;
		padding: 10px 0;
		text-align: center;
		border-radius: 7px;
	}

	.msg_front .bedge_gold {
		background: #bf9d5a;
		color: #fff;
	}

	.msg_front .bedge_platinum {
		background: #fff;
		color: #1e1e28;
	}

	.msg_front .bedge_division {
		background: #e82f63;
		color: #fff;
	}

	.msg_front .item_date {
		display: inline-block;
		margin-right: 20px;
		padding: 10px 0;
		text-align: center;
	}

	.msg_front .item_user {
		display: inline-block;
		margin-right: 20px;
		padding: 10px 0;
		text-align: left;
	}

/* msg_middle */
.msg_middle {
}

.item_user {
	display: inline-block;
	margin-right: 10px;
	padding: 10px 25px;
	font-size: 16px;
	text-align: center;
	border-radius: 7px;
}

.msg_middle .id_bedge {
	background: #20202b;
	color: #fff;
}

.msg_middle .item_msg {
	font-size: 15px;
	color: #bebecc;
}

.msg_end {
	position: absolute;
	right: 24px;
	top: 20px;
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.msg_front {
		border: none;
		border-bottom: 1px solid #51515e;
		margin-bottom: 10px;
	}

		.msg_front .item_level {
			display: block;
			width: 100%;
			margin: 0 0 6px 0;
			padding: 5px 0;
		}

		.msg_front .item_date {
			padding: 5px 0 10px 0;
			font-size: 14px;
			font-weight: 500;
		}

		.msg_front .item_user {
			float: right;
			padding: 5px 0;
			margin: 0;
			font-size: 14px;
			font-weight: 500;
			text-align: right;
		}

	.msg_middle .id_bedge {
		padding: 5px 12px;
	}

	.msg_middle .item_msg {
		font-size: 14px;
		font-weight: 500;
	}

	.msg_end {
		position: relative;
		right: inherit;
		top: inherit;
		margin-top: 14px;
	}

		.msg_end .btn_footer {
			width: 100%;
			padding: 5px 0;
			font-size: 16px;
		}
}




/* 메세지 */
.msg_talkbox {
	position: relative;
	background: #171722;
	margin: 0;
	padding: 30px 25px;
	border-radius: 20px;
}

	.msg_talkbox .top_notice {
		margin-bottom: 30px;
		text-align: center;
	}

		.msg_talkbox .top_notice > h4 {
			display: inline-block;
			padding: 10px 15px;
			margin: 0;
			font-size: 20px;
			font-weight: 500;
			color: #fff;
			border-bottom: 1px solid #4b4b61;
		}

		.msg_talkbox .top_notice > p {
			padding: 5px 0;
			font-size: 12px;
			color: #aaaab2;
		}


/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.msg_talkbox {
		padding: 20px 15px;
	}

		.msg_talkbox .top_notice {
			margin-bottom: 20px;
		}

			.msg_talkbox .top_notice > h4 {
				padding: 5px 10px;
				font-size: 18px;
			}
}


/* 메시지박스 */
.middle_talk {
	position: relative;
}

	.middle_talk .talk_owner {
		position: relative;
		padding-left: 60px;
		padding-top: 24px;
	}

		.middle_talk .talk_owner > .owner_img {
			position: absolute;
			left: 0;
			top: 0;
		}

		.middle_talk .talk_owner > .msg_input {
			position: relative;
			display: block;
			margin-bottom: 12px;
		}

			.middle_talk .talk_owner > .msg_input > .msg_data {
				display: inline-block;
				margin-right: 8px;
				font-size: 16px;
				font-weight: 500;
				color: #fff;
			}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.middle_talk .talk_owner {
		margin-bottom: 15px;
	}

		.middle_talk .talk_owner > .msg_input > .msg_data {
			font-size: 15px;
			margin-right: 2px;
		}
}



.middle_talk .talk_owner > .msg_input > .msg_date {
	display: inline-block;
	padding-right: 12px;
	font-size: 12px;
	font-weight: 400;
	color: #aaaab2;
}

	.middle_talk .talk_owner > .msg_input > .msg_date.before {
		background: url('../images/ico_msg_dot.png') right 6px no-repeat
	}

.middle_talk .talk_guest {
	position: relative;
	padding-right: 60px;
	padding-top: 24px;
}

	.middle_talk .talk_guest > .owner_img {
		position: absolute;
		right: 0;
		top: 0;
	}

	.middle_talk .talk_guest > .msg_input {
		position: relative;
		display: block;
		margin-bottom: 12px;
	}

		.middle_talk .talk_guest > .msg_input > .msg_data {
			display: inline-block;
			margin-left: 8px;
			font-size: 16px;
			font-weight: 500;
			color: #fff;
		}

		.middle_talk .talk_guest > .msg_input > .msg_date {
			display: inline-block;
			padding-left: 12px;
			font-size: 12px;
			font-weight: 400;
			color: #aaaab2;
		}

			.middle_talk .talk_guest > .msg_input > .msg_date.before {
				background: url('../images/ico_msg_dot.png') left 6px no-repeat
			}


/* 이미지박스 */
.msg_inner_imgbox {
	display: inline-block;
	padding: 10px;
	background: #fff;
	border-radius: 7px;
}

/* 메세지 입력칸 */
.msg_talkbox_inputmsg {
	position: relative;
	width: 100%;
	margin-top: 60px;
	padding: 0 25px;
	background: #ffffff;
	border-radius: 20px;
}
/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.msg_talkbox_inputmsg {
		margin-top: 20px;
		padding: 0 15px;
	}
}


.btn_msg_photo {
	z-index: 30;
	position: absolute;
	left: 15px;
	top: 5px;
	display: block;
	width: 60px;
	height: 60px;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	background: url('../images/btn_upload_photo.png') center center no-repeat;
}

	.btn_msg_photo:hover,
	.btn_msg_photo:active,
	.btn_msg_photo:focus {
		background: url('../images/btn_upload_photo_on.png') center center no-repeat;
	}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.btn_msg_photo {
		top: 3px;
		left: 5px;
		background-size: 70%;
	}

		.btn_msg_photo:hover,
		.btn_msg_photo:active,
		.btn_msg_photo:focus {
			top: 3px;
			left: 5px;
			background-size: 70%;
		}
}




.msg_inputbox {
	position: relative;
	margin-left: 70px;
	padding: 22px 5px;
	font-size: 18px;
	font-weight: 500;
	color: #000;
	border: none;
	width: calc(95% - 80px);
}


	.msg_inputbox:placeholder {
		color: #aaaab2
	}

.msg_talkbox_inputmsg .btn_msgsend {
	position: absolute;
	right: 15px;
	top: 5px;
	display: block;
	width: 70px;
	height: 60px;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	background: url('../images/btn_msg_send.png') center center no-repeat #fff;
}

	.msg_talkbox_inputmsg .btn_msgsend:hover,
	.msg_talkbox_inputmsg .btn_msgsend:active,
	.msg_talkbox_inputmsg .btn_msgsend:focus {
		background: url('../images/btn_msg_send_on.png') center center no-repeat #fff;
	}


/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.msg_inputbox {
		margin-left: 50px;
		font-size: 15px;
	}

	.msg_talkbox_inputmsg .btn_msgsend {
		top: 12px;
		right: 7px;
		width: 45px;
		height: 40px;
		background-size: 65%;
	}

		.msg_talkbox_inputmsg .btn_msgsend:hover,
		.msg_talkbox_inputmsg .btn_msgsend:active,
		.msg_talkbox_inputmsg .btn_msgsend:focus {
			top: 12px;
			right: 7px;
			background-size: 65%;
		}
}


/* 공지사항 */
.notice_conbox {
	width: 100%;
	display: block;
	margin: 0 auto;
}

	.notice_conbox a {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		padding: 15px 32px;
		overflow: hidden;
		background: #171722;
		border-radius: 20px;
	}
/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.notice_conbox a {
		padding: 10px 20px;
		border-radius: 10px;
	}
}

.notice_conbox a:hover {
	background: #272732;
}

.notice_conbox a .notice_bedge {
	display: inline-block;
	width: 130px;
	margin-right: 18px;
	padding: 8px 0;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	border-radius: 8px;
	background: #05c5c7;
	color: #fff;
	float: left;
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.notice_conbox a .notice_bedge {
		width: 80px;
		margin-right: 8px;
		font-size: 15px;
	}
}


.notice_conbox a .notice_txt {
	display: inline-block;
	width: calc(100% - 280px);
	margin: 0;
	padding: 8px 0;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #fff;
}

@media all and (min-width:320px) and (max-width:1439px) {
	.notice_conbox a .notice_txt {
		display: block;
		width: 100%;
		white-space: normal;
		font-size: 15px;
	}
}

.notice_conbox a .notice_date {
	float: right;
	margin-top: 9px;
	text-align: right;
	color: #fff;
}

@media all and (min-width:320px) and (max-width:1439px) {
	.notice_conbox a .notice_date {
		position: absolute;
		float: none;
		right: 15px;
		top: 10px;
		font-size: 15px;
	}
}


/* 공지사항 상세 */
.notice_detail {
	position: relative;
	background: #171722;
	margin: 0;
	padding: 30px 25px;
	border-radius: 20px;
	min-height: 400px;
}

	.notice_detail > h4 {
		width: 100%;
		text-align: center;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid #ffffff;
	}

@media all and (min-width:320px) and (max-width:1439px) {
	.notice_detail {
		padding: 20px 15px;
		font-size: 14px;
		border-radius: 10px;
	}

		.notice_detail > h4 {
			font-size: 18px;
		}
}




/* 공지사항 푸터 */
.notice_footer {
	position: relative;
	width: 100%;
	margin: 20px 0;
	text-align: center;
}

	.notice_footer .btn_footer {
		margin: 0 2px;
		font-size: 17px;
		font-weight: 600;
		border-radius: 40px;
	}


/* 마이페이지 */
.mypage_conbox {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	padding: 20px 15px;
	border-radius: 20px;
	background: #171722;
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.mypage_conbox {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 20px;
		padding: 20px 15px;
	}
}



.mypage_conbox > div {
	position: relative;
	margin: 15px 0;
	padding-left: 140px;
	border-bottom: 1px solid transparent;
}


.mypage_conbox label {
	position: absolute;
	left: 25px;
	top: 7px;
	width: 100px;
	height: 20px;
	margin: 0;
}

.mypage_conbox input {
	padding: 3px 25px;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	color: #171722;
	border: none;
	border-radius: 30px;
}


.mypage_conbox select {
	padding: 3px 25px;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	color: #171722;
	border: none;
	border-radius: 30px;
	text-align-last: center;
}

.mypage_conbox input.input_myurl {
	width: calc(100% - 100px);
	text-align: left;
}

.mypage_conbox input.input_myid {
	width: calc(100% - 100px);
}

.mypage_conbox input.input_mymobile {
	width: calc(100% - 150px);
}

.mypage_conbox input.input_mypassword {
	width: calc(100% - 100px);
}

.mypage_conbox select.select_swift {
	width: 279px;
}

.mypage_conbox input.input_mybank {
	width: 332px;
}


/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.mypage_conbox > div {
		padding-left: 0;
		margin: 5px 0;
	}

	.mypage_conbox label {
		position: relative;
		display: block;
		width: 100%;
		left: 0;
		top: inherit;
		width: 100%;
		margin-bottom: 6px;
	}

	.mypage_conbox input {
		width: 100% !important;
		padding: 6px 15px;
		margin-bottom: 5px;
		font-size: 14px;
	}

	.mypage_conbox select {
		width: 100% !important;
		padding: 6px 15px;
		margin-bottom: 5px;
		font-size: 14px;
		text-align-last: center;
	}


	.mypage_conbox > div > .btn_copy {
		display: block;
		width: 100%;
		padding: 4px 10px;
		font-size: 14px;
	}
}




.mypage_conbox .ico_bedge_country {
	float: left;
	margin-top: 3px;
	margin-right: 15px;
}

.mypage_conbox .ico_bedge_bank {
	float: left;
	margin-top: -2px;
	margin-right: 15px;
}

.myteam h4 {
	padding-left: 20px;
	font-size: 22px;
	font-weight: 700;
	color: #05c5c7;
}

.myteam .myteam_row {
	margin-bottom: 15px;
}

	.myteam .myteam_row input {
		width: 36%;
		padding: 6px 20px;
		font-size: 18px;
	}


/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.myteam h4 {
		padding-left: 0;
		font-size: 20px;
	}

	.myteam .myteam_row input {
		font-size: 14px;
	}
}


/* 트레이딩 */
.trading_conbox {
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 20px 15px;
	border-radius: 20px;
	background: #171722;
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.trading_conbox {
		padding: 20px 15px;
		width: calc(100% - 30px);
		margin: 0 auto 20px auto;
	}
}

/* 모바일 320px 부터 */
@media all and (min-width:768px) and (max-width:1439px) {
	.tablet_con_left {
		float: left;
		width: calc(50% - 30px);
		margin-left: 15px;
		margin-right: 15px;
	}

	.tablet_con_right {
		float: left;
		width: calc(50% - 30px);
		margin-left: 15px;
	}
}

.trading_top label {
	display: inline-block;
	width: 200px;
}


.trading_top .slider_money {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	min-width: 150px;
	padding: 8px 20px;
	background: #fff;
	border-radius: 40px;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	color: #171722;
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.trading_top .slider_money {
		display: block;
		margin-left: 0;
		margin-right: 0;
		min-width: auto;
		font-size: 18px;
	}
}

.input_mytrading_box {
	position: relative;
	float: right;
	width: calc(100% - 430px);
	margin: 0;
	padding: 0;
}

.trading_top .input_mytrading {
	width: 100%;
	background: none;
}

.range_left {
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.input_mytrading_box {
		float: none;
		width: 100%;
		margin: 0;
		margin-top: 10px;
		padding-bottom: 20px;
	}
}


/* input range */
input[type=range] {
	height: 30px;
	-webkit-appearance: none;
	margin: 0;
	width: 100%;
}

	input[type=range]:focus {
		outline: none;
	}

	input[type=range]::-webkit-slider-runnable-track {
		width: 100%;
		height: 16px;
		cursor: pointer;
		animate: 0.2s;
		box-shadow: 0px 0px 0px #000000;
		background: #05C5C7;
		border-radius: 18px;
		border: 0px solid #000000;
	}

	input[type=range]::-webkit-slider-thumb {
		box-shadow: 0px 0px 5px #05C5C7;
		border: 0px solid #000000;
		height: 26px;
		width: 25px;
		border-radius: 25px;
		background: #FFFFFF;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -5px;
	}

	input[type=range]:focus::-webkit-slider-runnable-track {
		background: #05C5C7;
	}

	input[type=range]::-moz-range-track {
		width: 100%;
		height: 16px;
		cursor: pointer;
		animate: 0.2s;
		box-shadow: 0px 0px 0px #000000;
		background: #05C5C7;
		border-radius: 18px;
		border: 0px solid #000000;
	}

	input[type=range]::-moz-range-thumb {
		box-shadow: 0px 0px 5px #05C5C7;
		border: 0px solid #000000;
		height: 26px;
		width: 25px;
		border-radius: 25px;
		background: #FFFFFF;
		cursor: pointer;
	}

	input[type=range]::-ms-track {
		width: 100%;
		height: 16px;
		cursor: pointer;
		animate: 0.2s;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}

	input[type=range]::-ms-fill-lower {
		background: #05C5C7;
		border: 0px solid #000000;
		border-radius: 36px;
		box-shadow: 0px 0px 0px #000000;
	}

	input[type=range]::-ms-fill-upper {
		background: #05C5C7;
		border: 0px solid #000000;
		border-radius: 36px;
		box-shadow: 0px 0px 0px #000000;
	}

	input[type=range]::-ms-thumb {
		margin-top: 1px;
		box-shadow: 0px 0px 5px #05C5C7;
		border: 0px solid #000000;
		height: 26px;
		width: 25px;
		border-radius: 25px;
		background: #FFFFFF;
		cursor: pointer;
	}

	input[type=range]:focus::-ms-fill-lower {
		background: #05C5C7;
	}

	input[type=range]:focus::-ms-fill-upper {
		background: #05C5C7;
	}


/* 경고 */
.caution_alert_wrap {
	margin: 0 0 30px 0;
}

.caution_alert {
	display: inline-block;
	margin: 0;
	padding: 8px 20px 8px 35px;
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	background: url(../images/bullet_caution_alert.gif) 18px 14px no-repeat #e82f63;
	border-radius: 30px;
}
/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.caution_alert_wrap {
		padding-left: 15px;
		padding-right: 15px;
	}

	.caution_alert {
		font-size: 13px;
		line-height: 18px;
		padding: 12px 15px;
		background: #e82f63;
		border-radius: 15px;
	}
}



/* btn_trading */

.btn_trading {
	min-width: 180px;
	margin-right: 5px;
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	padding: 17px 30px;
	border-radius: 7px;
}

x.trading_conbox > span > label {
	display: inline-block;
	min-width: 100px;
	margin-left: 10px;
	font-size: 16px;
}

.trading_conbox > span > input.input_sendbox {
	padding: 10px 20px;
	border-radius: 30px;
	font-weight: 600;
	border: none;
	color: #0f0f1b;
}

/* 모바일 320px 부터 */
@media all and (min-width:320px) and (max-width:1439px) {
	.btn_trading {
		min-width: inherit;
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
		padding: 10px 0;
		font-size: 16px;
	}

	.trading_conbox > span > label {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.trading_conbox > span > input.input_sendbox {
		width: 100%;
		padding: 5px 10px;
	}

	.btn_trading.float-right {
		float: none !important;
		margin-top: 10px;
	}
}


/* trading_slot */

/*
.trading_slot{
	overflow:hidden;
}

.trading_slot .autoslot{
	position: relative;
}
.trading_slot .nomalslot{
	position:relative;
	display:block;
	width:20%;
	float:left;
	overflow:hidden;
	font-size:0;
}

.trading_slot .checkbox label,
.trading_slot .radio label{
	font-weight:700;
	font-size:16px;
	overflow:hidden;
	padding-left:10px;
}
.trading_slot .nomalslot label .toggle{
	margin-left:190px;
}

.trading_slot .autoslot label .toggle{
	margin-left:84px;
}

.trading_slot .btn-primary,
.trading_slot .btn-primary:focus,
.trading_slot .btn-primary:hover{
	background:#05c5c7;
}
.trading_slot .btn-primary.active,
.trading_slot .btn-primary.focus,
.trading_slot .btn-primary:active,
.trading_slot .btn-primary:focus,
.trading_slot .btn-primary:hover,
.trading_slot .open>.dropdown-toggle.btn-primary{background:#05c5c7;}




.nomalslot .slot_tit{
	position:absolute;
	display:inline-block;
	width:210px;
	left:10px;
	top:7px;
}

@media all and (min-width:320px) and (max-width:1439px) {
	.trading_slot .checkbox > label{
		height:30px;
	}

	.trading_slot .autoslot{
		display:block;
		width:100%;
	}


	.trading_slot .checkbox label,
	.trading_slot .radio label{
		font-weight:600;
		font-size:15px;
	}

	.trading_slot .autoslot > label{
		padding-top:7px;
	}

	.trading_slot .autoslot label .toggle{
		position: absolute;
		right:0;
		top:0;
	}

	.trading_slot .nomalslot{
		display:block;
		width:100%;
		height:45px;
		float:none;
		overflow: auto;

	}
	.trading_slot .nomalslot label .toggle{
		position: absolute;
		right:0;
		top:0;
	}
	.nomalslot .slot_tit{
		position: relative;
		display:block;
		width:100%;
		left:inherit;
		top:8px;
	}
}



@media all and (min-width:767px) and (max-width:1439px) {
	.trading_slot .nomalslot{
		display:block;
		float:left;
		width:33.3333%;

	}

}
*/

/* trading_slot */
.slot_wrap {
	margin: 0;
}



.trading_slot {
	overflow: hidden;
	margin-bottom: 10px;
}



	.trading_slot .autoslot {
		position: relative;
		padding: 20px 10px;
		border-radius: 10px;
		background: #171722;
	}

	.trading_slot .nomalslot {
		position: relative;
		display: block;
		font-size: 0;
		padding: 20px 10px;
		border-radius: 10px;
		background: #171722;
	}


	.trading_slot .checkbox label,
	.trading_slot .radio label {
		font-weight: 700;
		font-size: 16px;
		padding-left: 10px;
		margin: 0;
	}

	.trading_slot .autoslot label .toggle {
		position: absolute;
		right: 15px;
		top: 12px;
	}


	.trading_slot .nomalslot label .toggle {
		position: absolute;
		right: 15px;
		top: 12px;
	}

	.trading_slot .autoslot label .toggle {
		margin-left: 84px;
	}


	.trading_slot .btn-primary,
	.trading_slot .btn-primary:focus,
	.trading_slot .btn-primary:hover {
		background: #05c5c7;
	}

		.trading_slot .btn-primary.active,
		.trading_slot .btn-primary.focus,
		.trading_slot .btn-primary:active,
		.trading_slot .btn-primary:focus,
		.trading_slot .btn-primary:hover,
		.trading_slot .open > .dropdown-toggle.btn-primary {
			background: #05c5c7;
		}




.fc_gold {
	color: #e1bb6f;
}

.fc_platinum {
	color: #fff;
}

.fc_division {
	color: #e82f63;
}

/* 약관 , 개인정보처리방침 */
h3.sub_contit {
	font-size: 24px;
	font-weight: 600;
	padding-left: 12px;
	color: #29e7ac;
}

.con_termsWrap {
	display: block;
	height: 450px;
	width: 100%;
	margin: 15px 0;
	padding: 25px 38px;
	background: #171722;
	border-radius: 20px;
	overflow-y: scroll;
}

.check_term {
	width: 120px;
	margin: 20px auto 50px auto;
	font-size: 18px;
	color: #000;
}

	.check_term .form-check-label {
		padding-left: 5px;
	}


.checkbox-1x {
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
}

.checkbox-2x {
	transform: scale(2);
	-webkit-transform: scale(2);
}
