﻿@{
    ViewBag.Title = "Visit List";
}
<div class="xp-contentbar" style="margin-top:60px;">
    <div class="row">
        <!-- Start XP Col -->
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="card m-b-30">
                <div class="card-header bg-white">
                    <div class="float-left">
                        <h5 class="card-title text-black">접속자로그삭제 / ลบบันทึกผู้เยี่ยมชม</h5>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <label class="mt-3">
                        접속자 로그를 삭제할 년도와 방법을 선택해주십시오.
                    </label>
                    <div class="xp-alert mt-3">
                        <div class="alert alert-light" role="alert">
                                <div class="xp-alert">
                                    <div class="row justify-content-center">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    @Html.DropDownList("year", ViewBag.year as SelectList, new { @class = "form-control bg-white" })
                                                </div>
                                            </div>
                                            <div class="col-auto align-self-center">
                                                <div class="mb-2">
                                                    <label class="form-check-label">
                                                        <strong>년</strong>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    <select name="month" id="month" class="bg-white border form-control">
                                                        <option value="">월선택</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-auto  align-self-center">
                                                <div class="mb-2">
                                                    <label class="form-check-label">
                                                        <strong>월</strong>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    <select name="method" id="method" class="bg-white border form-control">
                                                        <option value="before">선택년월 이전 자료삭제</option>
                                                        <option value="specific">선택년월의 자료삭제</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-auto  align-self-center">
                                                <div class="form-check mb-2">
                                                    <label class="form-check-label">
                                                        <strong>관리자 비밀번호</strong>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    <input type="password" id="pass" name="pass" class="bg-white border form-control">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-default" onclick="form_submit()" type="button" id="button-addon2">확인</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End XP Col -->
    </div>
</div>
<script>
    $(function () {
        $("#liMember").addClass("active");
        $("#meVisitDelete").addClass("active");
        var msg = '@ViewBag.Msg';
        if (msg != '') {
            alert(msg);
        }
    });

    function form_submit() {
        var year = $("#year").val();
        var month = $("#month").val();
        var method = $("#method").val();
        var pass = $("#pass").val();

        if (!year) {
            alert("년도를 선택해 주십시오.");
            return false;
        }

        if (!month) {
            alert("월을 선택해 주십시오.");
            return false;
        }

        if (!pass) {
            alert("관리자 비밀번호를 입력해 주십시오.");
            return false;
        }

        var msg = year + "년 " + month + "월";
        if (method == "before")
            msg += " 이전";
        else
            msg += "의";
        msg += " 자료를 삭제하시겠습니까?";

        if (confirm(msg)) {
               
                $.ajax({
                    type: "POST",
                    url: "/VisitList/Delete",
                    data: "{'year':'" + year + "','month':'" + month + "','method':'" + method + "','pass':'" + pass + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        if (msg.err == '0') {
                            alert(msg.errmsg);
                            location.reload();
                            //location.href = "/Order";
                        } else {
                            alert(msg.errmsg);
                        }
                    }
                });    

                //$.mvcAjax({
                //    url: "/Product/order",
                //    //data: $("#order_form").serialize(),
                //    data: "{'id':" + id + ",'amount':" + amount + ",'fee':'" + fee + "','total':'" + total + "'}",
                //    success: function (data) {
                //        var result = data.RESULT;
                //        if (result.CODE == 1) {
                //            alert("구매신청이 완료되었습니다.");
                //            location.href = "../product/product_list.asp";
                //        } else
                //            alert(result.MESSAGE);
                //    }
                //});

        }
    }

</script>
